<div class="row">
    <div class="col-sm-12">
        <app-card [hidHeader]="true">
            <div class="row">
            <div class="col-md-9">
                <img class="img-responsive" style="width:10%;margin-left: 0px;"
                src="https://image-service-cdn.seek.com.au/4663f64cab4371d33d6297cc71eeb065c9b02be8/ee4dce1061f3f616224767ad58cb2fc751b8d2dc">
                <br>
                <br>
                <h5 class="card-title" style="margin-left: 10px;">{{vacancy.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted" style="font-size:17px;margin-left: 10px;">{{vacancy.company.name}}</h6>
                <br>
                <p style="font-size:17px;margin-left: 10px;margin-bottom: 0px;">{{vacancy.companyLocation.city}}</p>
                <p style="font-size:17px;margin-left: 10px;" *ngIf="vacancy.showSalary">Rp {{vacancy.startSalary}} - {{vacancy.startSalary}} / months</p>
                <p style="font-size:17px;margin-left: 10px;" *ngIf="!vacancy.showSalary">NA</p>
                <p style="font-size:17px;margin-left: 10px;">Publish: {{vacancy.createdAt | date:'dd-MM-yyyy'}}</p>
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary btn-lg" style="margin-top:75px;width:145px;"
                (click)="save(vacancy.id, 'apply')" *ngIf="trxUserVacancy.statusID == 0 && tProgress > 0">Apply</button>
                <br>
                <br>
                <button class="btn btn-success btn-lg" style="width:145px;"
                (click)="save(vacancy.id, 'add')" *ngIf="trxUserVacancy.isSave == false && tProgress > 0">Save</button>
            </div>
            </div>
        </app-card>
    </div>

    <div class="col-sm-12">
        <app-card [hidHeader]="true">
            <div class="form-group">
                <h5>Job Requirement</h5>
                <div>- Minimum 1 year experience in software development process</div>
                <div>- Candidate must possess at least an Associate Degree from information system or related fields,</div>
            </div>
            <hr>
            <div class="form-group">
                <h5>Additional Information</h5>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <b>Career Level</b>
                            <p>{{vacancy.careerLevel.name}}</p>
                        </div>
                        <!-- <div class="form-group">
                            <b>Years of Experience</b>
                            <p>1 Years</p>
                        </div> -->
                        <div class="form-group">
                            <b>Specialization</b>
                            <p>{{vacancy.specialization.name}}</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <b>Working Site</b>
                            <p>
                                <a href="vacancy.workingSite.name">
                                    {{vacancy.workingSite.name}}
                                </a>
                            </p>
                        </div>
                        <div class="form-group">
                            <b>Job Type</b>
                            <p>{{vacancy.jobType.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
</div>