<div class="row">
    <div class="col-sm-12">
        <app-card [hidHeader]="true">
            <h3>Profile &nbsp;
                <span class="feather icon-edit" style="font-size:16px;"
                (click)="edit()" *ngIf="showForm">
                </span>
            </h3>

            <div class="col-md-12" *ngIf="showForm">
                Hai
            </div>

            <div class="col-md-12" *ngIf="!showForm">
                <form action="javascript:">
                    <div class="form-group">
                        <label for="exampleInputName">Name</label>
                        <input type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp" placeholder="Enter name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputContact">Contact</label>
                        <input type="text" class="form-control" id="exampleInputContact" aria-describedby="emailHelp" placeholder="Enter contact">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlAddress">Address</label>
                        <textarea class="form-control" id="exampleFormControlAddress" rows="3" placeholder="Enter address"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputDateBirth">Date of Birth</label>
                        <input type="text" class="form-control" id="exampleInputDateBirth" aria-describedby="emailHelp" placeholder="Enter date of birth">
                    </div>
                    <button type="submit" class="btn btn-primary">Simpan</button> &nbsp;&nbsp;
                    <button type="button" class="btn btn-light" (click)="batal()">Batal</button>
                </form>
            </div>
        </app-card>
    </div>

    <div class="col-sm-12">
        <app-card cardTitle="Experience" [options]="false">
            <form action="javascript:">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="exampleInputPosition">Position</label>
                        <input type="text" class="form-control" id="exampleInputPosition" aria-describedby="emailHelp" placeholder="Enter position">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputCompany">Company</label>
                        <input type="email" class="form-control" id="exampleInputCompany" aria-describedby="emailHelp" placeholder="Enter company">
                    </div>
                </div>
                <div class="col-md-12 form-row">
                    <div class="form-group col-md-6">
                    <label for="exampleInputStartDate">Start Date</label>
                    <input type="text" class="form-control" id="exampleInputStartDate" placeholder="Enter start date">
                    </div>
                    <div class="form-group col-md-6">
                    <label for="exampleInputEndDate">End Date</label>
                    <input type="text" class="form-control" id="exampleInputEndDate" placeholder="Enter end date">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="exampleInputSalary">Salary</label>
                        <input type="text" class="form-control" id="exampleInputSalary" aria-describedby="emailHelp" placeholder="Enter salary">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlDescription">Description</label>
                        <textarea class="form-control" id="exampleFormControlDescription" rows="3" placeholder="Enter description"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </app-card>
    </div>

    <div class="col-sm-12">
        <app-card cardTitle="Education" [options]="false">
            <div class="col-md-12">
                <form action="javascript:">
                    <div class="form-group">
                        <label for="exampleInputUniversity">University</label>
                        <input type="text" class="form-control" id="exampleInputUniversity" aria-describedby="emailHelp" placeholder="Enter university">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputMajor">Major</label>
                        <input type="text" class="form-control" id="exampleInputMajor" aria-describedby="emailHelp" placeholder="Enter major">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputQualification">Qualification</label>
                        <input type="text" class="form-control" id="exampleInputQualification" aria-describedby="emailHelp" placeholder="Enter qualification">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputGradeDate">Graduate Date</label>
                        <input type="text" class="form-control" id="exampleInputGradeDate" aria-describedby="emailHelp" placeholder="Enter graduate of date">
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </app-card>
    </div>
</div>