<div class="row">
    <!-- [ basic-table ] start -->
    <div class="col-md-12">
      <app-card [hidHeader]="true">
        <h5>Application List </h5>
        <div class="table-responsive" style="margin-top:10px;">
          <table class="table">
            <thead>
            <tr>
              <th>Vacancy ID</th>
              <th>Vacancy Name</th>
              <th>Status</th>
            </tr>
            </thead>
            <tbody *ngFor="let application of applicationLists; let i=index">
                <tr>
                <td>{{application.vacancyID}}</td>
                <td>{{application.vacancyName}}</td>
                <td><b>{{application.status}}</b></td>
                </tr>
            </tbody>
            <!-- <tfoot class="grey lighten-5 ">
                <tr>
                    <td colspan="12">
                            Page {{curPage}} Of {{maxTotalpage}}<br>
                            <ngb-pagination [collectionSize]="totalItems" [(page)]="curPage"  [maxSize]="5" 
                            [rotate]="true" [pageSize]="itemsPerPage" [boundaryLinks]="true" [ellipses]="false" 
                            (pageChange)="loadPage($event)">
                            </ngb-pagination>
                    </td>
                </tr>
            </tfoot> -->
          </table>
        </div>
      </app-card>
    </div>
</div>