<div class="row">
    <!-- [ basic-table ] start -->
    <div class="col-md-12">
      <app-card [hidHeader]="true">
        <h5>Job Type</h5>
        <hr>
        <!-- <button type="button" class="btn btn-primary" (click)="modalDefault.show()" style="float: right;margin-top: -47px;">Launch demo modal</button> -->
        <button type="button" class="btn btn-primary" (click)="open('Add',null)" style="float: right;margin-bottom: 10px;">Add</button>
        <div class="table-responsive" style="margin-top:10px;">
          <table class="table">
            <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody *ngFor="let jobType of jobTypes; let i=index">
                <tr>
                <td>{{jobType.id}}</td>
                <td>{{jobType.name}}</td>
                <td>
                  <button type="button" class="btn btn-primary" (click)="open('Edit', jobType)">Edit</button>
                </td>
                </tr>
            </tbody>
            <tfoot class="grey lighten-5 ">
                <tr>
                    <td colspan="12">
                        Page {{curPage}} Of {{maxTotalpage}}<br>
                        <ngb-pagination [collectionSize]="totalItems" [(page)]="curPage"  [maxSize]="5" 
                        [rotate]="true" [pageSize]="itemsPerPage" [boundaryLinks]="true" [ellipses]="false" 
                        (pageChange)="loadPage($event)">
                        </ngb-pagination>
                    </td>
                </tr>
            </tfoot>
          </table>
        </div>
      </app-card>
    </div>
</div>