<div class="row">
    <div class="col-sm-12">
        <app-card [hidHeader]="true">
          <h5>Progress</h5>
          <hr>
          <label for="progress">Progress Your Data: {{tProgress}} / 100%</label>
          <div class="mb-12"><ngb-progressbar [showValue]="true" [value]="tProgress"></ngb-progressbar></div>
        </app-card>
    </div>

    <div class="col-sm-12">
      <app-card [hidHeader]="true">
        <h5>Profile &nbsp;
            <span class="feather icon-edit" style="font-size:16px;"
                (click)="edit(profile)" *ngIf="!showForm">
            </span>
        </h5>
        <hr>
        <div class="row" *ngIf="!showForm">
            <div class="col-md-6">
                <table class="table">
                    <tbody>
                        <tr>
                            <td style="border-top: none;width: 40%;">First Name</td>
                            <td style="border-top: none;font-weight:bold;color:black;width:50%;" 
                            *ngIf="profile.firstName === ''">
                                -
                            </td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.firstName !== ''">
                                {{profile.firstName}}
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: none;">Phone Number</td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.phoneNumber == ''">
                                -
                            </td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.phoneNumber != ''">
                                {{profile.phoneNumber}}
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: none;">Gender</td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.gender === ''">
                                -
                            </td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.gender !== ''">
                                {{profile.gender}}
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: none;">Villages</td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.kodePos.kelurahan === ''">
                                -
                            </td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.kodePos.kelurahan !== ''">
                                {{profile.kodePos.kelurahan}}
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: none;">City</td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.kodePos.kabupaten === ''">
                                -
                            </td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.kodePos.kabupaten !== ''">
                                {{profile.kodePos.kabupaten}}
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: none;">Address</td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.address === ''">
                                -
                            </td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.address !== ''">
                                {{profile.address}}
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: none;">CV Bahasa</td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.cvBahasa === ''">
                                -
                            </td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.cvBahasa !== ''">
                                <a class="feather icon-download" (click)="download(profile.id, 'cv_bahasa', profile.cvBahasa)"> {{profile.cvBahasa}}
                                </a> 
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: none;">Social Interest</td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.socialInterest == ''">
                                -
                            </td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.socialInterest != ''">
                                {{profile.socialInterest}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table">
                    <tbody>
                        <tr>
                            <td style="border-top: none;width: 40%;">Last Name</td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.lastName === ''">
                                -
                            </td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.lastName !== ''">
                                {{profile.lastName}}
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: none;">Date of Birth</td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.birthDate === ''">
                                -
                            </td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.birthDate !== ''">
                                {{profile.birthDate | date: 'dd/MM/yyyy'}}
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: none;">Zip Code</td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.kodePos.kodePos === ''">
                                -
                            </td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.kodePos.kodePos !== ''">
                                {{profile.kodePos.kodePos}}
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: none;">District</td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.kodePos.kecamatan === ''">
                                -
                            </td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.kodePos.kecamatan !== ''">
                                {{profile.kodePos.kecamatan}}
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: none;">Province</td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.kodePos.provinsi === ''">
                                -
                            </td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.kodePos.provinsi !== ''">
                                {{profile.kodePos.provinsi}}
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: none;">License/Certification</td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.license === ''">
                                -
                            </td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.license !== ''">
                                {{profile.license}}
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: none;">CV in English</td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.cvEnglish === ''">
                                -
                            </td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.cvEnglish !== ''">
                                <a class="feather icon-download" (click)="download(profile.id, 'cv_english', profile.cvEnglish)"> {{profile.cvEnglish}}
                                </a> 
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: none;">Avatar</td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.avatar === ''">
                                -
                            </td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.avatar !== ''">
                                <img src="{{profile.avatar}}" style="width:100%">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <form [formGroup]="sprofileForm" *ngIf="showForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputFirstName">First Name
                            <span style="color:red;">*</span>
                        </label>
                        <input type="text" class="form-control" id="exampleInputFirstName" 
                        aria-describedby="firstName" placeholder="Enter first name" 
                        [(ngModel)]="profile.firstName" formControlName="firstName">
                        <div
                            *ngIf="sprofileForm.controls['firstName'].invalid && (sprofileForm.controls['firstName'].dirty || 
                            sprofileForm.controls['firstName'].touched)"
                            >
                            <span *ngIf="sprofileForm.controls['firstName'].errors.required" class="text-danger">*
                                First Name must be filled</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPhone">Phone Number
                            <span style="color:red;">*</span>
                        </label>
                        <input type="text" class="form-control" id="exampleInputPhone" 
                        placeholder="Enter phone number" formControlName="phoneNumber" 
                        [(ngModel)]="profile.phoneNumber">
                        <div
                            *ngIf="sprofileForm.controls['phoneNumber'].invalid && (sprofileForm.controls['phoneNumber'].dirty || 
                            sprofileForm.controls['phoneNumber'].touched)"
                            >
                            <span *ngIf="sprofileForm.controls['phoneNumber'].errors.required" class="text-danger">*
                                Phone Number must be filled</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputGender">Gender
                            <span style="color:red;">*</span>
                        </label>
                        <select2 [data]="genders" [cssImport]=true width="100%" 
                            style="width: 100%;" [value]="gender" (valueChanged)="changedGender($event)"
                            [options]="{ placeholder: 'Choose Gender' }" (click)="shwGender($event)">
                        </select2>
                        <div
                            *ngIf="shwErrorGender"
                            >
                            <span class="text-danger">*
                                Gender must be filled</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputCity">Villages
                            <span style="color:red;">*</span>
                        </label>
                        <select2 [data]="villages" [cssImport]=true width="100%" 
                            style="width: 100%;" (valueChanged)="changedCity($event)"
                            [value]="selectedCity"
                            [options]="{ placeholder: 'Choose Villages' }">
                        </select2>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputCity">City
                            <span style="color:red;">*</span>
                        </label>
                        <select2 [data]="cities" [cssImport]=true width="100%" 
                            style="width: 100%;" [value]="selectedVillages"
                            [options]="{ placeholder: 'Choose City' }" [disabled]="true">
                        </select2>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlAddress">Address
                            <span style="color:red;">*</span>
                        </label>
                        <textarea class="form-control" id="exampleFormControlAddress" rows="3"
                        formControlName="address" [(ngModel)]="profile.address" placeholder="Enter address"></textarea>
                        <div
                            *ngIf="sprofileForm.controls['address'].invalid && (sprofileForm.controls['address'].dirty || 
                            sprofileForm.controls['address'].touched)"
                            >
                            <span *ngIf="sprofileForm.controls['address'].errors.required" class="text-danger">*
                                Address must be filled</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputBahasa">CV Bahasa
                            <span style="color:red;">*</span>
                        </label>
                        <div class="custom-file">
                            <!-- <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                            <label class="custom-file-label" for="validatedCustomFile">Choose file...</label> -->
                            <input type="file" class="form-control" id="exampleInputBahasa" 
                            (change)="processCVBahasa($event)" formControlName="cvBahasa">
                        </div>
                        <div
                            *ngIf="sprofileForm.controls['cvBahasa'].invalid && (sprofileForm.controls['cvBahasa'].dirty || 
                            sprofileForm.controls['cvBahasa'].touched)"
                            >
                            <span *ngIf="sprofileForm.controls['cvBahasa'].errors.required" class="text-danger">*
                                CV Bahasa must be filled</span>
                        </div>
                        
                        <div *ngIf="profile.cvBahasa != '' " class="md-form">
                            <a class="feather icon-download" (click)="download(profile.id, 'cv_bahasa', profile.cvBahasa)"> {{profile.cvBahasa}}
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlAddress">Social Interest
                        </label>
                        <textarea class="form-control" id="exampleFormControlSocialInterest" rows="3"
                        formControlName="socialInterest" [(ngModel)]="profile.socialInterest" placeholder="Enter social interest"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputLastName">Last Name
                            <span style="color:red;">*</span>
                        </label>
                        <input type="text" class="form-control" id="exampleInputLastName" 
                        aria-describedby="lastName"  placeholder="Enter last name" formControlName="lastName"
                        [(ngModel)]="profile.lastName" >
                        <div
                            *ngIf="sprofileForm.controls['lastName'].invalid && (sprofileForm.controls['lastName'].dirty || 
                            sprofileForm.controls['lastName'].touched)"
                            >
                            <span *ngIf="sprofileForm.controls['lastName'].errors.required" class="text-danger">*
                                Last Name must be filled</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputBirthDate">Date of Birth
                            <span style="color:red;">*</span>
                        </label>
                        <input type="date" class="form-control" id="exampleInputBirthDate" 
                        aria-describedby="birthDate"  placeholder="Enter birth of date" 
                        formControlName="birthDate" [(ngModel)]="birthDates">
                        <div
                            *ngIf="sprofileForm.controls['birthDate'].invalid && (sprofileForm.controls['birthDate'].dirty || 
                            sprofileForm.controls['birthDate'].touched)"
                            >
                            <span *ngIf="sprofileForm.controls['birthDate'].errors.required" class="text-danger">*
                                Date of Birth must be filled</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputZipCode">Zip Code
                            <span style="color:red;">*</span>
                        </label>
                        <input type="text" class="form-control" id="exampleInputZipCode" 
                        aria-describedby="zipCode"  placeholder="Enter zip code" 
                        formControlName="kodePos" [(ngModel)]="profile.kodePos.kodePos" 
                        (ngModelChange)="onChangeZipCode($event)">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputCity">District
                            <span style="color:red;">*</span>
                        </label>
                        <select2 [data]="districts" [cssImport]=true width="100%" 
                            style="width: 100%;" [value]="selectedDistrict"
                            [options]="{ placeholder: 'Choose District' }" [disabled]="true">
                        </select2>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputProvince">Province
                            <span style="color:red;">*</span>
                        </label>
                        <select2 [data]="provinces" [cssImport]=true width="100%" 
                            style="width: 100%;" [value]="selectedProvince"
                            [options]="{ placeholder: 'Choose Province' }" [disabled]="true">
                        </select2>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlLicens">License / Certification
                        </label>
                        <textarea class="form-control" id="exampleFormControlLicens" rows="3"
                        formControlName="license" [(ngModel)]="profile.license" 
                        placeholder="Enter license"></textarea>
                        <div
                            *ngIf="sprofileForm.controls['license'].invalid && (sprofileForm.controls['license'].dirty || 
                            sprofileForm.controls['license'].touched)"
                            >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputCvEnglish">CV English</label>
                        <input type="file" class="form-control" id="exampleInputCvEnglish" 
                        (change)="processCVEnglish($event)" formControlName="cvEnglish">
                        <div *ngIf="profile.cvEnglish != '' " class="md-form">
                            <a class="feather icon-download" (click)="download(profile.id, 'cv_english', profile.cvEnglish)"> {{profile.cvEnglish}}
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPhone">Avatar
                            <span style="color:red;">*</span>
                        </label>
                        <input type="file" class="form-control" id="exampleInputAvatar" 
                        (change)="processAvatar($event)" formControlName="avatar">
                    </div>
                    <div
                        *ngIf="sprofileForm.controls['avatar'].invalid && (sprofileForm.controls['avatar'].dirty || 
                        sprofileForm.controls['avatar'].touched)"
                        >
                        <span *ngIf="sprofileForm.controls['avatar'].errors.required" class="text-danger">*
                            Avatar be filled</span>
                    </div>
                    <div *ngIf="profile.avatar != '' " class="md-form">
                        <img src="{{profile.avatar}}" style="width:100%">
                    </div>
                </div>
<!-- 
                <div class="col-md-12">
                    <div class="form-group">
                        <span style="color:red;"><i>* must be filled</i></span>
                    </div>
                </div> -->

                <div class="col-md-12">
                    <button type="button" class="btn btn-primary" (click)="save()" *ngIf="profile.id == 0"
                    [disabled]="sprofileForm.invalid">Save</button>
                    <button type="button" class="btn btn-primary" (click)="editForm()" *ngIf="profile.id != 0"
                    [disabled]="sprofileForm.invalid">Save</button> &nbsp;&nbsp;
                    <button type="button" class="btn btn-light" (click)="batal()">Cancel</button>
                </div>
            </div>
        </form>
      </app-card>
    </div>
</div>
  