<ul class="navbar-nav ml-auto">
  <li>
    <div class="dropdown" ngbDropdown placement="auto">
      <a ngbDropdownToggle href="javascript:" data-toggle="dropdown"
        (click)="notifRecruiter()" *ngIf="isRecruiter"><i class="icon feather icon-bell"></i>
        <span class="badge badge-pill badge-danger badge-up"
        style="position: absolute;top: 8px;right: -14px;">{{counter}}</span></a>
      <a ngbDropdownToggle href="javascript:" data-toggle="dropdown"
        (click)="notifSeeker()" *ngIf="!isRecruiter"><i class="icon feather icon-bell"></i>
        <span class="badge badge-pill badge-danger badge-up"
        style="position: absolute;top: 8px;right: -14px;">{{counter}}</span></a>
      <!-- <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right notification">
        <div class="noti-head">
          <h6 class="d-inline-block m-b-0">Notifications</h6>
        </div>
        <ul class="noti-body">
          <li class="n-title">
            <p class="m-b-0">SAVE APPLICANT</p>
          </li>
          <li class="notification">
            <div class="media">
              <img class="img-radius" src="assets/images/user/avatar-1.jpg" alt="Generic placeholder image">
              <div class="media-body">
                <p><strong>John Doe</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>30 min</span></p>
                <p>New ticket Added</p>
              </div>
            </div>
          </li>
          <li class="n-title">
            <p class="m-b-0">APPLY APPLICANT</p>
          </li>
          <li class="notification">
            <div class="media">
              <img class="img-radius" src="assets/images/user/avatar-2.jpg" alt="Generic placeholder image">
              <div class="media-body">
                <p><strong>Joseph William</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>30 min</span></p>
                <p>Prchace New Theme and make payment</p>
              </div>
            </div>
          </li>
          <li class="notification">
            <div class="media">
              <img class="img-radius" src="assets/images/user/avatar-3.jpg" alt="Generic placeholder image">
              <div class="media-body">
                <p><strong>Sara Soudein</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>30 min</span></p>
                <p>currently login</p>
              </div>
            </div>
          </li>
        </ul>
        <div class="noti-footer">
          <a href="javascript:">show all</a>
        </div>
      </div> -->
    </div>
  </li>
  <li>
    <div class="dropdown drp-user" ngbDropdown placement="auto">
      <a href="javascript:" ngbDropdownToggle data-toggle="dropdown">
        <i class="icon feather icon-user"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right profile-notification" ngbDropdownMenu>
        <div class="pro-head">
          <img src="///Users/frisca/go/src/avatar/7.png" class="img-radius" alt="User-Profile-Image">
          <span>John Doe</span>
          <a (click)="logout()" class="dud-logout" title="Logout">
            <i class="feather icon-log-out"></i>
          </a>
        </div>
        <ul class="pro-body">
          <li><a [routerLink]="profile/user" class="dropdown-item"><i class="feather icon-user"></i> Profile</a></li>
        </ul>
      </div>
    </div>
  </li>
</ul>
