<div class="auth-wrapper">
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <img src="assets/images/logo-dark.png" alt="" class="img-fluid mb-4">
            <h4 class="mb-3 f-w-400">Sign up</h4>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="feather icon-user"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Username" [(ngModel)]="username">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="feather icon-mail"></i></span>
              </div>
              <input type="email" class="form-control" placeholder="Email address" [(ngModel)]="email">
            </div>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="feather icon-lock"></i></span>
              </div>
              <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password">
            </div>
            <div class="input-group mb-3">
              <select [(ngModel)]="roleId" class="form-control" id="exampleFormControlSelect1" 
                (change)="changeRole()" [(ngModel)]="roleId">
                <option value="" [disabled]="true">Select Role</option>
                <option *ngFor="let role of rolesOption" [ngValue]="role.value">{{role.name}}</option>
              </select>
            </div>
            <button class="btn btn-primary btn-block mb-4" (click)="register()">Sign up</button>
            <p class="mb-2">Already have an account? <a [routerLink]="['']" class="f-w-400">Signin</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
