<div class="row">
    <div class="col-sm-12">
        <app-card [hidHeader]="true">
          <h5>Progress</h5>
          <hr>
          <label for="progress">Progress Your Data: {{tProgress}} / 100%</label>
          <div class="mb-12"><ngb-progressbar [showValue]="true" [value]="tProgress"></ngb-progressbar></div>
        </app-card>
    </div>
    
    <div class="col-sm-12">
      <app-card [hidHeader]="true">
        <h5>Experience &nbsp;
        </h5>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-primary" style="float:right;"
                (click)="add()" *ngIf="showBtnAdd">Add</button>
            </div>
        </div>

        <form style="margin-top:25px;" *ngIf="showFormAdd" [formGroup]="experienceForm" nonvalidate>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputPosition">Position
                            <span style="color:red;">*</span>
                        </label>
                        <input type="text" class="form-control" id="exampleInputPosition" 
                        aria-describedby="position" placeholder="Enter position" 
                        name="position" formControlName="position">
                        <div
                            *ngIf="experienceForm.controls['position'].invalid && (experienceForm.controls['position'].dirty || 
                            experienceForm.controls['position'].touched)"
                            >
                            <span *ngIf="experienceForm.controls['position'].errors.required" class="text-danger">*
                                Position must be filled</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputLama">Start Date
                            <span style="color:red;">*</span>
                        </label>
                        <div class="row">
                            <div class="col-md-6">
                                <select2 [data]="years" [cssImport]=true width="100%" 
                                style="width: 100%;" (click) = "clickYearStart($event)"
                                [value]="yearStart" (valueChanged)="changedYearStart($event)"
                                [options]="{ placeholder: 'Choose Year' }"></select2>
                                <div
                                    *ngIf="shwErrorYearStart"
                                    >
                                    <span class="text-danger">*
                                        Year must be filled</span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <select2 [data]="months" [cssImport]=true width="100%" 
                                style="width: 100%;" (click) = "clickMonthStart($event)"
                                [value]="monthStart" (valueChanged)="changedMonthStart($event)"
                                [options]="{ placeholder: 'Choose Month' }"></select2>
                                <div
                                    *ngIf="shwErrorMonthStart"
                                    >
                                    <span class="text-danger">*
                                        Month must be filled</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputSalary">Salary</label>
                        <input type="text" class="form-control" id="exampleInputSalary" 
                        placeholder="Enter salary" name="salary" 
                        formControlName="salary" (change)="transformAmount($event)" 
                        [(ngModel)]="formattedAmount">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputCompany">Company
                            <span style="color:red;">*</span>
                        </label>
                        <input type="text" class="form-control" id="exampleInputCompany" 
                        placeholder="Enter company" name="company"
                        formControlName="company">
                        <div
                            *ngIf="experienceForm.controls['company'].invalid && (experienceForm.controls['company'].dirty || 
                            experienceForm.controls['company'].touched)"
                            >
                            <span *ngIf="experienceForm.controls['company'].errors.required" class="text-danger">*
                                Company must be filled</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputSampai">End Date
                            <span style="color:red;">*</span>
                        </label>
                        <div class="row">
                            <div class="col-md-6">
                                <select2 [data]="years" [cssImport]=true width="100%" 
                                style="width: 100%;" (click) = "clickYearEnd($event)"
                                [value]="yearEnd" (valueChanged)="changedYearEnd($event)"
                                [options]="{ placeholder: 'Choose Year' }"></select2>
                                <div
                                    *ngIf="shwErrorYearEnd"
                                    >
                                    <span class="text-danger">*
                                        Year must be filled</span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <select2 [data]="months" [cssImport]=true width="100%" 
                                style="width: 100%;" (click) = "clickMonthEnd($event)"
                                [value]="monthEnd" (valueChanged)="changedMonthEnd($event)"
                                [options]="{ placeholder: 'Choose Month' }"></select2>
                                <div
                                    *ngIf="shwErrorMonthEnd"
                                    >
                                    <span class="text-danger">*
                                        Month must be filled</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputDescription">Description
                            <span style="color:red;">*</span>
                        </label>
                        <textarea class="form-control" id="exampleInputDescription" rows="3" 
                        placeholder="Enter description" name="description"
                        formControlName="description"></textarea>
                        <div
                            *ngIf="experienceForm.controls['description'].invalid && (experienceForm.controls['description'].dirty || 
                            experienceForm.controls['description'].touched)"
                            >
                            <span *ngIf="experienceForm.controls['description'].errors.required" class="text-danger">*
                                Description must be filled</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary" (click)="save()"
                    [disabled]="experienceForm.invalid">Save</button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-light" (click)="batal()">Cancel</button>
                </div>
            </div>
        </form>

        <hr>

        <div class="col-md-12" *ngFor="let experience of experiences; let i=index" style="margin-top:20px;">
            <div class="row">
                <div class="col-md-12">
                    <form style="margin-top:20px;" *ngIf="showFormEdit && experience.id == id" 
                    [formGroup]="expEditForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPosition1">Position
                                        <span style="color:red;">*</span>
                                    </label>
                                    <input type="text" class="form-control" id="exampleInputPosition1" 
                                    aria-describedby="position" placeholder="Enter position" 
                                    ([ngModel])="experience.position" formControlName="position"> 
                                    <div
                                        *ngIf="experienceForm.controls['position'].invalid && (experienceForm.controls['position'].dirty || 
                                        experienceForm.controls['position'].touched)"
                                        >
                                        <span *ngIf="experienceForm.controls['position'].errors.required" class="text-danger">*
                                            Position must be filled</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputBekerja1">Start Date
                                        <span style="color:red;">*</span>
                                    </label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <select2 [data]="years" [cssImport]=true width="100%" 
                                            style="width: 100%;" (click) = "clickYearStart($event)"
                                            [value]="yearStart" (valueChanged)="changedYearStart($event)"
                                            [options]="{ placeholder: 'Choose Year' }"></select2>
                                            <div
                                                *ngIf="shwErrorYearStart"
                                                >
                                                <span class="text-danger">*
                                                    Year must be filled</span>
                                            </div>
                                        </div>
            
                                        <div class="col-md-6">
                                            <select2 [data]="months" [cssImport]=true width="100%" 
                                            style="width: 100%;" (click) = "clickMonthStart($event)"
                                            [value]="monthStart" (valueChanged)="changedMonthStart($event)"
                                            [options]="{ placeholder: 'Choose Month' }"></select2>
                                            <div
                                                *ngIf="shwErrorMonthStart"
                                                >
                                                <span class="text-danger">*
                                                    Month must be filled</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputSalary1">Salary
                                        <span style="color:red;">*</span>
                                    </label>
                                    <input type="text" class="form-control" id="exampleInputSalary1" 
                                    placeholder="Enter salary" formControlName="salary"
                                    (change)="transformAmount($event)" [(ngModel)]="formattedAmount">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputCompany1">Company
                                        <span style="color:red;">*</span>
                                    </label>
                                    <input type="text" class="form-control" id="exampleInputCompany1" 
                                    placeholder="Enter company" formControlName="company">
                                    <div
                                        *ngIf="experienceForm.controls['company'].invalid && (experienceForm.controls['company'].dirty || 
                                        experienceForm.controls['company'].touched)"
                                        >
                                        <span *ngIf="experienceForm.controls['company'].errors.required" class="text-danger">*
                                            Company must be filled</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputSampai1">End Date</label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <select2 [data]="years" [cssImport]=true width="100%" 
                                            style="width: 100%;" (click)="clickYearEnd($event)"
                                            [value]="yearEnd" (valueChanged)="changedYearEnd($event)"
                                            [options]="{ placeholder: 'Pilih Tahun' }"></select2>
                                            <div
                                                *ngIf="shwErrorYearEnd"
                                                >
                                                <span class="text-danger">*
                                                    Year must be filled</span>
                                            </div>
                                        </div>
            
                                        <div class="col-md-6">
                                            <select2 [data]="months" [cssImport]=true width="100%" 
                                            style="width: 100%;" (click)="clickMonthEnd($event)"
                                            [value]="monthEnd" (valueChanged)="changedMonthEnd($event)"
                                            [options]="{ placeholder: 'Pilih Bulan' }"></select2>
                                            <div
                                                *ngIf="shwErrorYearEnd"
                                                >
                                                <span class="text-danger">*
                                                    Month must be filled</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputDescription1">Description
                                        <span style="color:red;">*</span>
                                    </label>
                                    <textarea class="form-control" id="exampleInputDescription1" rows="3" 
                                    placeholder="Enter description" formControlName="description">
                                    </textarea>
                                    <div
                                        *ngIf="experienceForm.controls['description'].invalid && (experienceForm.controls['description'].dirty || 
                                        experienceForm.controls['description'].touched)"
                                        >
                                        <span *ngIf="experienceForm.controls['description'].errors.required" class="text-danger">*
                                            Description must be filled</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="button" class="btn btn-primary" (click)="updateForm(experience.id)">Save</button>&nbsp;&nbsp;
                                <button type="button" class="btn btn-light" (click)="batal()">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
            <div class="row" [id]="experience.id">
                <div class="col-md-4" [id]="experience.id">
                    <div class="form-group" [id]="experience.id">
                        <div style="font-size:15px;">
                            {{experience.startDate | date: 'MMM yyyy'}} - {{experience.endDate | date: 'MMM yyyy'}}
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <h5>{{experience.position}}</h5> 
                        <div>
                            {{experience.company}}
                        </div>
                    </div>
                    <br [id]="experience.id">
                    <div class="small-form-group" style="margin-left:-15px;" [id]="experience.id">
                        <label class="col-xs-4 col-sm-3">Salary</label>
                        <label class="col-xs-8 col-sm-9" *ngIf="experience.salarys != '0,00'">
                            Rp {{experience.salarys}} / months
                        </label>
                        <label class="col-xs-8 col-sm-9" *ngIf="experience.salarys == '0,00'">
                            NA
                        </label>

                        <label class="col-xs-4 col-sm-3">Description</label>
                        <label class="col-xs-8 col-sm-9" *ngIf="experience.description == ''">
                            -
                        </label>
                        <label class="col-xs-8 col-sm-9" *ngIf="experience.description != ''">
                            {{experience.description}}
                        </label>
                    </div>
                </div>
                <div class="col-md-2" [id]="experience.id">
                    <i class="feather icon-edit" (click)="editForm(experience.id)" *ngIf="showBtnEdit"></i>
                </div>
            </div>
            <hr>
        </div>

        <!-- <div class="row">
            <div class="col-md-12" *ngFor="let experience of experiences; let i=index">
                <div [id]="experience.id">
                    Position: {{experience.position}} 
                </div>
                
                <button type="button" class="btn btn-primary"
                (click)="edit(experience.id)" *ngIf="!showForm">Edit</button>

                <div>
                    <form class="form-horizontal" role="form" *ngIf="showForm && experience.id == id">
                        <div class="form-group">
                            Test
                        </div>
                    </form>
                </div>
            </div>
        </div> -->
      </app-card> 
    </div>
</div>