:host /deep/ mdb-select>div>div.single>div.placeholder {
    font-size: 13px;
}

:host /deep/ mdb-select>div>div.single>div.value {
    font-size: 13px;
}

:host /deep/ mdb-select>div>div.single>div.placeholder {
    font-size: 13px;
}

:host /deep/ mdb-select>div>div.single>div.value {
    font-size: 13px;
}


:host /deep/ .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 34px;
}

/* :host /deep/ .select2-container {
    width: 100%;
} */

:host .select2-container {
    width: 100%;
}

:host /deep/ .select2-container--default .select2-selection--single {
    height: 36px;
}

:host /deep/ .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 34px;
}