<div class="row">
    <div class="col-sm-12">
        <app-card [hidHeader]="true">
          <h5>Progress</h5>
          <hr>
          <label for="progress">Progress Your Data: {{tProgress}} / 100%</label>
          <div class="mb-12"><ngb-progressbar [showValue]="true" [value]="tProgress"></ngb-progressbar></div>
        </app-card>
    </div>
    
    <div class="col-sm-12">
        <app-card [hidHeader]="true">
            <h5>Education</h5>
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-primary" style="float:right;"
                    (click)="add()" *ngIf="showBtnAdd">Add</button>
                </div>
            </div>

            <form style="margin-top:25px;" *ngIf="showFormAdd" [formGroup]="eduAddForm" nonvalidate>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputInstitution">Name Institution 
                                <span style="color:red;">*</span>
                            </label>
                            <input type="text" class="form-control" id="exampleInputInstitution" 
                            aria-describedby="institution" placeholder="Enter name institution" 
                            name="institution" formControlName="institution">
                            <div
                            *ngIf="eduAddForm.controls['institution'].invalid && (eduAddForm.controls['institution'].dirty || 
                            eduAddForm.controls['institution'].touched)"
                            >
                                <span *ngIf="eduAddForm.controls['institution'].errors.required" class="text-danger">*
                                Name institution must be filled</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputLama">Faculty/Field of Study (1)
                                <span style="color:red;">*</span>
                            </label>
                            <div class="row">
                                <div class="col-md-12">
                                    <select2 [data]="faculty" [cssImport]=true width="100%" 
                                    style="width: 100%;" (valueChanged)="changedFaculty($event)"
                                    [options]="{ placeholder: 'Choose Faculty/Field of Study' }"
                                    (click)=clickFaculty($event) (value)="prodi"></select2>
                                    <!-- <div
                                        *ngIf="shwErrorFaculty"
                                        >
                                        <span class="text-danger">*
                                            Faculty/Field of Study (1) must be filled</span>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label for="exampleInputLama">Faculty/Field of Study (2)
                            </label>
                            <div class="row">
                                <div class="col-md-12">
                                    <select2 [data]="faculty" [cssImport]=true width="100%" 
                                    style="width: 100%;"
                                    [options]="{ placeholder: 'Choose Faculty/Field of Study' }"></select2>
                                </div>
                            </div>
                        </div> -->
                        <div class="form-group">
                            <label for="exampleInputLama">Start Date
                                <span style="color:red;">*</span>
                            </label>
                            <div class="row">
                                <div class="col-md-6">
                                    <select2 [data]="years" [cssImport]=true width="100%" 
                                    style="width: 100%;"
                                    [value]="yearStart" (valueChanged)="changedYearStart($event)"
                                    [options]="{ placeholder: 'Choose Year' }"></select2>
                                </div>
    
                                <div class="col-md-6">
                                    <select2 [data]="months" [cssImport]=true width="100%" 
                                    style="width: 100%;"
                                    [value]="monthStart" (valueChanged)="changedMonthStart($event)"
                                    [options]="{ placeholder: 'Choose Month' }"></select2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputDegree">Qualification 1
                                <span style="color:red;">*</span>
                            </label>
                            <select2 [data]="degrees" [cssImport]=true width="100%" 
                            style="width: 100%;"
                            [value]="degree" (valueChanged)="changedDegree($event)"
                            [options]="{ placeholder: 'Choose Qualification' }"
                            (click)=clickDegree($event)></select2>
                            <!-- <div
                                *ngIf="shwErrorDegree"
                                >
                                <span class="text-danger">*
                                    Qualification (1) must be filled</span>
                            </div> -->
                        </div>
                        <!-- <div class="form-group">
                            <label for="exampleInputDegree">Qualification 2
                            </label>
                            <select2 [data]="degrees" [cssImport]=true width="100%" 
                            style="width: 100%;"
                            [value]="degree" (valueChanged)="changedDegree($event)"
                            [options]="{ placeholder: 'Choose Qualification' }"></select2>
                        </div> -->
                        <div class="form-group">
                            <label for="exampleInputGS">Grade Score
                                <span style="color:red;">*</span>
                            </label>
                            <input type="text" class="form-control" id="exampleInputGS" 
                            placeholder="Enter grade score" name="gradeScore"
                            formControlName="gradeScore">
                            <div
                            *ngIf="eduAddForm.controls['gradeScore'].invalid && (eduAddForm.controls['gradeScore'].dirty || 
                            eduAddForm.controls['gradeScore'].touched)"
                            >
                            <span *ngIf="eduAddForm.controls['gradeScore'].errors.required" class="text-danger">*
                                Grade score must be filled</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputSampai">End Date
                                <span style="color:red;">*</span>
                            </label>
                            <div class="row">
                                <div class="col-md-6">
                                    <select2 [data]="years" [cssImport]=true width="100%" 
                                    style="width: 100%;"
                                    [value]="yearEnd" (valueChanged)="changedYearEnd($event)"
                                    [options]="{ placeholder: 'Choose Year' }"></select2>
                                </div>
    
                                <div class="col-md-6">
                                    <select2 [data]="months" [cssImport]=true width="100%" 
                                    style="width: 100%;"
                                    [value]="monthEnd" (valueChanged)="changedMonthEnd($event)"
                                    [options]="{ placeholder: 'Choose Month' }"></select2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary" (click)="save()"
                        [disabled]="eduAddForm.invalid">Save</button>&nbsp;&nbsp;
                        <button type="button" class="btn btn-light" (click)="batal()">Cancel</button>
                    </div>
                </div>
            </form>
    
            <hr>

            <div class="col-md-12" *ngFor="let education of educations; let i=index" style="margin-top:20px;">
                <div class="row">
                    <div class="col-md-12">
                        <form style="margin-top:20px;" *ngIf="showFormEdit && education.id == id" 
                        [formGroup]="eduEditForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputInstitution">Name Institution
                                            <span style="color:red;">*</span>
                                        </label>
                                        <input type="text" class="form-control" id="exampleInputInstitution" 
                                        aria-describedby="institution" placeholder="Isi institusi" 
                                        name="institution" formControlName="institution">
                                        <div
                                        *ngIf="eduEditForm.controls['institution'].invalid && (eduEditForm.controls['institution'].dirty || 
                                        eduEditForm.controls['institution'].touched)"
                                        >
                                            <span *ngIf="eduEditForm.controls['institution'].errors.required" class="text-danger">*
                                            Name institution must be filled</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputLama">Faculty/Field of Study (1)
                                            <span style="color:red;">*</span>
                                        </label>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <select2 [data]="faculty" [cssImport]=true width="100%" 
                                                style="width: 100%;" (valueChanged)="changedFaculty($event)"
                                                [options]="{ placeholder: 'Choose Faculty/Field of Study' }"
                                                (value)="prodi"></select2>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="form-group">
                                        <label for="exampleInputLama">Faculty/Field of Study (2)
                                        </label>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <select2 [data]="prodies1" [cssImport]=true width="100%" 
                                                style="width: 100%;"
                                                [options]="{ placeholder: 'Choose Faculty/Field of Study' }"></select2>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="form-group">
                                        <label for="exampleInputLama">Start Date
                                            <span style="color:red;">*</span>
                                        </label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <select2 [data]="years" [cssImport]=true width="100%" 
                                                style="width: 100%;"
                                                [value]="yearStart" (valueChanged)="changedYearStart($event)"
                                                [options]="{ placeholder: 'Pilih Tahun' }"></select2>
                                            </div>
                
                                            <div class="col-md-6">
                                                <select2 [data]="months" [cssImport]=true width="100%" 
                                                style="width: 100%;"
                                                [value]="monthStart" (valueChanged)="changedMonthStart($event)"
                                                [options]="{ placeholder: 'Pilih Bulan' }"></select2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputDegree">Qualification 1
                                            <span style="color:red;">*</span>
                                        </label>
                                        <select2 [data]="degrees" [cssImport]=true width="100%" 
                                        style="width: 100%;"
                                        [value]="degree" (valueChanged)="changedDegree($event)"
                                        [options]="{ placeholder: 'Choose Qualification' }"></select2>
                                    </div>
                                    <!-- <div class="form-group">
                                        <label for="exampleInputDegree">Qualification 2
                                        </label>
                                        <select2 [data]="degrees" [cssImport]=true width="100%" 
                                        style="width: 100%;"
                                        [value]="degree" (valueChanged)="changedDegree($event)"
                                        [options]="{ placeholder: 'Choose Qualification' }"></select2>
                                    </div> -->
                                    <div class="form-group">
                                        <label for="exampleInputGS">Grade Score
                                            <span style="color:red;">*</span>
                                        </label>
                                        <input type="text" class="form-control" id="exampleInputGS" 
                                        placeholder="Enter grade score" name="gradeScore"
                                        formControlName="gradeScore">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputSampai">End Date
                                            <span style="color:red;">*</span>
                                        </label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <select2 [data]="years" [cssImport]=true width="100%" 
                                                style="width: 100%;"
                                                [value]="yearEnd" (valueChanged)="changedYearEnd($event)"
                                                [options]="{ placeholder: 'Pilih Tahun' }"></select2>
                                            </div>
                
                                            <div class="col-md-6">
                                                <select2 [data]="months" [cssImport]=true width="100%" 
                                                style="width: 100%;"
                                                [value]="monthEnd" (valueChanged)="changedMonthEnd($event)"
                                                [options]="{ placeholder: 'Pilih Bulan' }"></select2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary" (click)="updateForm(education.id)">Save</button>&nbsp;&nbsp;
                                    <button type="button" class="btn btn-light" (click)="batal()">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                
                <div class="row" [id]="education.id">
                    <div class="col-md-4" [id]="education.id">
                        <div class="form-group" [id]="education.id">
                            <div style="font-size:15px;">
                                {{education.startDate | date: 'MMM yyyy'}} - {{education.endDate | date: 'MMM yyyy'}}
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md-6">
                        <div class="form-group">
                            <h5>{{education.institution}}</h5> 
                        </div>
                        <br [id]="education.id">
                        <div class="small-form-group" style="margin-left:-15px;" [id]="education.id">
                            <label class="col-xs-4 col-sm-3">Qualification 1</label>
                            <label class="col-xs-8 col-sm-9" *ngIf="education.degree != ''">
                                {{education.degree}}
                            </label>
                            <label class="col-xs-8 col-sm-9" *ngIf="education.degree == ''">
                                -
                            </label>

                            <label class="col-xs-4 col-sm-3">Prodi 1</label>
                            <label class="col-xs-8 col-sm-9" *ngIf="education.prodi != ''">
                                {{education.prodi}}
                            </label>
                            <label class="col-xs-8 col-sm-9" *ngIf="education.prodi == ''">
                                -
                            </label>
    
                            <label class="col-xs-4 col-sm-3">Grade Score</label>
                            <label class="col-xs-8 col-sm-9" *ngIf="education.gradeScore == ''">
                                -
                            </label>
                            <label class="col-xs-8 col-sm-9" *ngIf="education.gradeScore != ''">
                                {{education.gradeScore}}
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2" [id]="education.id">
                        <i class="feather icon-edit" (click)="editForm(education.id)" *ngIf="showBtnEdit"></i>
                    </div>
                </div>
                <hr>
            </div>
        </app-card>
    </div>
</div>