ngb-pagination /deep/ .pagination .page-item .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #000;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

ngb-pagination /deep/ .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}

ngb-pagination /deep/ .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #6200ea;
    border-color: #6200ea;
}

ngb-pagination /deep/ .pagination .page-item .page-link:hover {
    background-color: #fff;
    color: #000;
}

ngb-pagination /deep/ .pagination .page-item.active .page-link:hover {
    background-color: #6200ea;
    color: #fff;
}