<div class="row">
    <!-- [ basic-table ] start -->
    <div class="col-md-12">
      <app-card [hidHeader]="true">
        <h5>CV List </h5>
        <hr>
        <!-- <button type="button" class="btn btn-primary" (click)="modalDefault.show()" style="float: right;margin-top: -47px;">Launch demo modal</button> -->
        <button type="button" class="btn btn-primary" (click)="open('Add',null)" style="float: right;margin-bottom: 10px;">Tambah</button>
        <div class="table-responsive" style="margin-top:10px;">
          <table class="table">
            <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>CV</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody *ngFor="let role of roles; let i=index">
                <tr>
                <td>{{role.id}}</td>
                <td>{{role.name}}</td>
                <td>{{role.description}}</td>
                <td>
                  <button type="button" class="btn btn-primary" (click)="open('Edit', role)">Edit</button>
                </td>
                </tr>
            </tbody>
            <tfoot class="grey lighten-5 ">
                <tr>
                    <td colspan="12">
                            Page {{curPage}} Of {{maxTotalpage}}<br>
                            <!-- <button mdbBtn type="button" color="red" size="sm" outline="true" rounded="true"
                                (click)="onPreviousPageClick()">
                                <mdb-icon fas icon="angle-left"></mdb-icon>
                            </button>
                            <ul style="display: inline-block" class="pagination pagination-circle pg-red"
                                *ngFor="let tl of total">
                                <li class="page-item" *ngIf="tl != curPage">
                                    <a class="page-link" (click)="onClick(tl)">{{tl}}</a>
                                </li>
                                <li class="page-item active" *ngIf="tl == curPage">
                                    <a class="page-link" (click)="onClick(tl)">{{tl}}</a>
                                </li>
                            </ul>
                            <button mdbBtn type="button" color="red" size="sm" outline="true" rounded="true"
                                (click)="onNextPageClick()">
                                <mdb-icon fas icon="angle-right"></mdb-icon>
                            </button> -->
                            <ngb-pagination [collectionSize]="totalItems" [(page)]="curPage"  [maxSize]="5" 
                            [rotate]="true" [pageSize]="itemsPerPage" [boundaryLinks]="true" [ellipses]="false" 
                            (pageChange)="loadPage($event)">
                            </ngb-pagination>
                    </td>
                </tr>
            </tfoot>
          </table>
        </div>
      </app-card>
    </div>
</div>

<!-- <app-card>
  <app-ui-modal #modalDefault>
    <div class="app-modal-header">
      <h5 class="modal-title">Modal Title</h5>
      <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="modalDefault.hide()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="app-modal-body">
      <p>Woohoo, you're reading this text in a modal!</p>
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalDefault.hide()">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div>
  </app-ui-modal>
</app-card> -->