<div class="modal-header">
  <h5 *ngIf="location.id == 0">Add</h5>
  <h5 *ngIf="location.id != 0">Edit</h5>
</div>

<form [formGroup]="locationForm" novalidate>
  <div class="modal-body">
      <div class="container form-group">
          <div class="form-group">
            <label for="fullName">City
              <span style="color:red;">*</span>
            </label>
            <input mdbInput id="fullName" type="text" class="form-control" [(ngModel)]="location.city"
                [disabled]="uneditable" formControlName="city" placeholder="Enter city">
            <div
                *ngIf="locationForm.controls['city'].invalid && (locationForm.controls['city'].dirty || 
                locationForm.controls['city'].touched)"
                >
                <span *ngIf="locationForm.controls['city'].errors.required" class="text-danger">*
                    City must be filled</span>
            </div>
          </div>
      </div>
      <div class="container form-group">
        <div class="form-group">
          <label for="fullName">Country
            <span style="color:red;">*</span>
          </label>
          <input mdbInput id="fullName" type="text" class="form-control" [(ngModel)]="location.country"
              [disabled]="uneditable" formControlName="country" placeholder="Enter country">
          <div
              *ngIf="locationForm.controls['country'].invalid && (locationForm.controls['country'].dirty || 
              locationForm.controls['country'].touched)"
              >
              <span *ngIf="locationForm.controls['country'].errors.required" class="text-danger">*
                  Country must be filled</span>
          </div>
        </div>
      </div>
      <div class="container form-group">
        <div class="form-group">
          <label for="fullName">Long</label>
          <input mdbInput id="fullName" type="text" class="form-control" [(ngModel)]="location.long"
              [disabled]="uneditable" formControlName="long" placeholder="Enter long">
        </div>
      </div>
      <div class="container form-group">
        <div class="form-group">
          <label for="fullName">Lat</label>
          <input mdbInput id="fullName" type="text" class="form-control" [(ngModel)]="location.lat"
              [disabled]="uneditable" formControlName="lat" placeholder="Enter lat">
        </div>
      </div>
  </div>

  <div class="modal-footer">
      <button type="button" class="btn btn-light" data-dismiss="modal" (click)="closeForm()">
          Tutup
      </button> &nbsp;&nbsp;
      <button type="button" class="btn btn-primary" (click)="save()" *ngIf="location.id == 0"
      [disabled]="locationForm.invalid">Simpan</button>
      <button type="button" class="btn btn-primary" (click)="edit()" *ngIf="location.id != 0" 
      [disabled]="locationForm.invalid">Ubah</button>
  </div>
</form>