<div class="row">
    <div class="col-md-12">
        <h5>Message</h5>
        <hr>
    </div>
    <div class="col-sm-12">
        <ngb-tabset>
            <ngb-tab title="Jobs Notification">
              <ng-template ngbTabContent>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-12" style="margin-bottom: -22px;" *ngFor="let seeker of seekers">
                        <div class="card">
                            <div class="card-body">
                                <div class="col-md-3">
                                    <img src="{{seeker.image}}" style="width:70px;position: absolute;margin-top: -18px;">
                                </div>
                                <div class="col-md-9" *ngIf="seeker.isSave && seeker.statusID == 0">
                                    <p style="margin-left: 100px;margin-top: 0px;">
                                        <b>{{seeker.firstName}} {{seeker.lastName}}</b> has been saved this jobs.
                                    </p>
                                </div>
                                <div class="col-md-9"  *ngIf="(!seeker.isSave || seeker.isSave) && seeker.statusID == 0">
                                    <p style="margin-left: 100px;margin-top: 0px;">
                                        <b>{{seeker.firstName}} {{seeker.lastName}}</b> has been applied this jobs.
                                    </p>
                                </div>
                                <div class="col-md-9" *ngIf="(!seeker.isSave || seeker.isSave) && seeker.statusID == 5">
                                    <p style="margin-left: 100px;margin-top: 0px;">
                                        <b>{{seeker.firstName}} {{seeker.lastName}}</b> has been approved this jobs.
                                    </p>
                                </div>
                                <div class="col-md-9" *ngIf="(!seeker.isSave || seeker.isSave) && seeker.statusID == 6">
                                    <p style="margin-left: 100px;margin-top: 0px;">
                                        <b>{{seeker.firstName}} {{seeker.lastName}}</b> has been rejected this jobs.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-top: 5px;">
                        <ngb-pagination [collectionSize]="totalItems" [(page)]="curPage"  [maxSize]="5" 
                        [rotate]="true" [pageSize]="itemsPerPage" [boundaryLinks]="true" [ellipses]="false" 
                        (pageChange)="loadPage($event)">
                        </ngb-pagination>
                    </div>
                </div>
              </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>