<div class="modal-header">
  <h5 *ngIf="careerLevel.id == 0">Add</h5>
  <h5 *ngIf="careerLevel.id != 0">Edit</h5>
</div>

<form [formGroup]="careerLevelForm" novalidate>
  <div class="modal-body">
      <div class="container form-group">
          <div class="form-group">
            <label for="fullName">Name
              <span style="color:red;">*</span>
            </label>
            <input mdbInput id="fullName" type="text" class="form-control" [(ngModel)]="careerLevel.name"
                [disabled]="uneditable" formControlName="name" placeholder="Enter name">
            <div
                *ngIf="careerLevelForm.controls['name'].invalid && (careerLevelForm.controls['name'].dirty || 
                careerLevelForm.controls['name'].touched)"
                >
                <span *ngIf="careerLevelForm.controls['name'].errors.required" class="text-danger">*
                    Name must be filled</span>
            </div>
          </div>
      </div>
  </div>

  <div class="modal-footer">
      <button type="button" class="btn btn-light" data-dismiss="modal" (click)="closeForm()">
          Cancel
      </button> &nbsp;&nbsp;
      <button type="button" class="btn btn-primary" (click)="save()" *ngIf="careerLevel.id == 0"
      [disabled]="careerLevelForm.invalid">Save</button>
      <button type="button" class="btn btn-primary" (click)="edit()" *ngIf="careerLevel.id != 0" 
      [disabled]="careerLevelForm.invalid">Save</button>
  </div>
</form>