<div class="auth-wrapper">
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <img src="assets/images/logo-dark.png" alt="" class="img-fluid mb-4">
            <h4 class="mb-3 f-w-400">Signin</h4>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="feather icon-user"></i></span>
              </div>
              <input type="email" class="form-control" placeholder="Username" [(ngModel)]="username">
            </div>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="feather icon-lock"></i></span>
              </div>
              <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password">
            </div>
            <button class="btn btn-block btn-primary mb-4" (click)="login('login')" >Signin</button>
            <p class="mb-0 text-muted">Don’t have an account? <a [routerLink]="['/signup']" class="f-w-400">Signup</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
