<div class="modal-header">
  <h5 *ngIf="additional.id == 0">Add</h5>
  <h5 *ngIf="additional.id != 0">Edit</h5>
</div>

<form [formGroup]="addtionalForm" novalidate>
  <div class="modal-body">
      <div class="container form-group">
          <div class="form-group">
            <label for="fullName">Description
              <span style="color:red;">*</span>
            </label>
            <input mdbInput id="fullName" type="text" class="form-control" [(ngModel)]="additional.description"
                [disabled]="uneditable" formControlName="description" placeholder="Enter description">
            <div
                *ngIf="addtionalForm.controls['description'].invalid && (addtionalForm.controls['description'].dirty || 
                addtionalForm.controls['description'].touched)"
                >
                <span *ngIf="addtionalForm.controls['description'].errors.required" class="text-danger">*
                    Description must be filled</span>
            </div>
          </div>
      </div>
  </div>

  <div class="modal-footer">
      <button type="button" class="btn btn-light" data-dismiss="modal" (click)="closeForm()">
          Tutup
      </button> &nbsp;&nbsp;
      <button type="button" class="btn btn-primary" (click)="save()" *ngIf="additional.id == 0"
      [disabled]="addtionalForm.invalid">Simpan</button>
      <button type="button" class="btn btn-primary" (click)="edit()" *ngIf="additional.id != 0" 
      [disabled]="addtionalForm.invalid">Ubah</button>
  </div>
</form>