
<div class="row">
    <div class="col-sm-12">
        <app-card [hidHeader]="true">
            <div class="row">
                <div class="col-md-2">
                    <img style="width:130px;" src="{{seeker.image}}">
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <h3>{{seeker.firstName}} {{seeker.lastName}}</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div style="font-size:18px"><i class="feather icon-briefcase"></i>&nbsp; {{seeker.jobTitle}}</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div style="font-size:18px" *ngIf="seeker.specialization != ''"><i class="feather icon-grid"></i>&nbsp; {{seeker.specialization}}</div>
                                <div style="font-size:18px" *ngIf="seeker.specialization == ''"><i class="feather icon-grid"></i>&nbsp; NA</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div style="font-size:18px"><i class="feather icon-map-pin"></i>&nbsp; {{seeker.kelurahan}}, {{seeker.provinsi}}</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div style="font-size:18px"><i class="feather icon-layers"></i>&nbsp; {{seeker.education}}</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-outline-primary" style="float: right;border-radius:5px;margin-left: 5px;"
                        (click)="reject(6, seeker.id, vacancy)">Not Accept</button>
                        <button class="btn btn-outline-primary" style="float: right;border-radius:5px;margin-left: 5px;"
                        *ngIf="status == 1" (click)="submission(2, seeker.id, vacancy)">Accept</button>
                        <button class="btn btn-outline-primary" style="float: right;border-radius:5px;margin-left: 5px;"
                        *ngIf="status == 2" (click)="docReview(3, seeker.id, vacancy)">Accept</button>
                        <button class="btn btn-outline-primary" style="float: right;border-radius:5px;margin-left: 5px;"
                        *ngIf="status == 3" (click)="evalution(4, seeker.id, vacancy)">Accept</button>
                        <button class="btn btn-outline-primary" style="float: right;border-radius:5px;margin-left: 5px;"
                        *ngIf="status == 4" (click)="interview(5, seeker.id, vacancy)">Accept</button>
                    </div>
                </div>
            </div>
        </app-card>
    </div>

    <div class="col-sm-12">
        <app-card [hidHeader]="true">
            <div class="row">
                <div class="col-md-12">
                    <h3><i class="feather icon-briefcase" style="color:blue;"></i>&nbsp;&nbsp; Experience</h3>
                    <hr>
                </div>
            </div>
            <div class="row" *ngFor="let experience of experiences; let i=index">
                <div class="col-md-2">
                    <img style="width:90px;" 
                    src="http://34.70.54.184:9000/icon/icon.png">
                </div>
                <div class="col-md-10">
                    <div style="font-size:18px;">
                        {{experience.position}}
                    </div>
                    <div style="font-size:16px;margin-bottom: 10px;">
                        {{experience.company}}
                    </div>
                    <div style="font-size:15px;">
                        {{experience.startDate | date: 'MMM yyyy'}} - {{experience.endDate | date: 'MMM yyyy'}}
                    </div>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
        </app-card>
    </div>

    <div class="col-sm-12">
        <app-card [hidHeader]="true">
            <div class="row">
                <div class="col-md-12">
                    <h3><i class="feather icon-layers" style="color:yellowgreen;"></i>&nbsp;&nbsp; Skill</h3>
                    <hr>
                </div>
                <div class="col-md-12" style="margin-left:50px;" *ngFor="let skill of skills; let i=index">
                    <div class="form-group">
                        - {{skill.Skill.name}}
                    </div>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
        </app-card>
    </div>
</div>