<div class="row">
    <div class="col-sm-12">
      <app-card [hidHeader]="true">
        <h5>Vacancy Requirement &nbsp;</h5>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-primary" style="float:right;"
                (click)="add()" *ngIf="showBtnAdd">Add</button>
            </div>
        </div>

        <hr>

        <form style="margin-top:25px;" *ngIf="showFormAdd" [formGroup]="userSkillForm" nonvalidate>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="exampleInputLama">Skill
                            <span style="color:red;">*</span>
                        </label>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- <mdb-select placeholder="Pilih skill" [options]="skills" 
                                ([ngModel])="selectedSkill" (selected)="optionSelect($event)"
                                formControlName="skillID">
                                </mdb-select> -->
                                <select2 [data]="skills" [cssImport]=true width="100%" 
                                style="width: 100%;"
                                [value]="skillID" (valueChanged)="changed($event)"
                                [options]="{ placeholder: 'Choose Skill' }" (click)="shwSkill($event)">
                                </select2>
                                <div
                                    *ngIf="shwErrorSkill"
                                    >
                                    <span class="text-danger">*
                                        Skill must be filled</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="margin-bottom:30px;">
                    <button type="button" class="btn btn-primary" (click)="save()"
                    [disabled]="shwBtn">Save</button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-light" (click)="batal()">Cancel</button>
                </div>
            </div>
        </form>

        <div class="col-md-12" *ngFor="let skill of userSkills; let i=index" style="margin-top:20px;">
            <div class="row">
                <div class="col-md-12">
                    <form style="margin-top:20px;" *ngIf="showFormEdit && skill.id == id" 
                    [formGroup]="userSkillEditForm">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleInputLama">Skill
                                        <span style="color:red;">*</span>
                                    </label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <!-- <mdb-select placeholder="Pilih skill" [options]="skills" 
                                            ([ngModel])="selectedSkill" (selected)="optionSelect($event)"
                                            formControlName="skillID">
                                            </mdb-select> -->
                                            <select2 [data]="skills" [cssImport]=true width="100%" 
                                            style="width: 100%;" [value]="skillID"
                                            (valueChanged)="changed($event)"
                                            [options]="{ placeholder: 'Choose Skill' }"></select2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-bottom: 30px;">
                                <button type="button" class="btn btn-primary" (click)="updateForm(skill.id)">Save</button>&nbsp;&nbsp;
                                <button type="button" class="btn btn-light" (click)="batal()">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row" [id]="skill.id">
                <div class="col-md-6">
                    <div class="form-group">
                        <div style="font-size:15px;">
                            {{skill.Skill.name}}
                        </div>
                    </div>
                </div>

                <div class="col-md-2" [id]="skill.id">
                    <i class="feather icon-edit" (click)="editForm(skill.id)" *ngIf="showBtnEdit"></i>
                </div>
            </div>
            <hr>
        </div>
      </app-card> 
    </div>
</div>