<div class="row">
    <div class="col-md-12">
        <h5>Message</h5>
        <hr>
    </div>
    <div class="col-sm-12">
        <ngb-tabset>
            <ngb-tab title="Jobs Notification">
              <ng-template ngbTabContent>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-12" style="margin-bottom: -22px;" *ngFor="let recruiter of recruiters">
                        <div class="card">
                            <div class="card-body">
                                <div class="col-md-3">
                                    <img src="{{recruiter.image}}" style="width:70px;position: absolute;margin-top: -18px;">
                                </div>
                                <div class="col-md-9"  *ngIf="(!recruiter.isSave || recruiter.isSave) && recruiter.statusID == 1">
                                    <p style="margin-left: 100px;margin-top: 0px;">
                                        <b>{{recruiter.name}}</b> has been submission.
                                    </p>
                                </div>
                                <div class="col-md-9" *ngIf="(!recruiter.isSave || recruiter.isSave) && recruiter.statusID == 2">
                                    <p style="margin-left: 100px;margin-top: 0px;">
                                        <b>{{recruiter.name}}</b> has been doc review.
                                    </p>
                                </div>
                                <div class="col-md-9" *ngIf="(!recruiter.isSave || recruiter.isSave) && recruiter.statusID == 3">
                                    <p style="margin-left: 100px;margin-top: 0px;">
                                        <b>{{recruiter.name}}</b> has been evalution.
                                    </p>
                                </div>
                                <div class="col-md-9" *ngIf="(!recruiter.isSave || recruiter.isSave) && recruiter.statusID == 4">
                                    <p style="margin-left: 100px;margin-top: 0px;">
                                        <b>{{recruiter.name}}</b> has been interview.
                                    </p>
                                </div>
                                <div class="col-md-9" *ngIf="(!recruiter.isSave || recruiter.isSave) && recruiter.statusID == 5">
                                    <p style="margin-left: 100px;margin-top: 0px;">
                                        <b>{{recruiter.name}}</b> has been accepted.
                                    </p>
                                </div>
                                <div class="col-md-9" *ngIf="(!recruiter.isSave || recruiter.isSave) && recruiter.statusID == 6">
                                    <p style="margin-left: 100px;margin-top: 0px;">
                                        <b>{{recruiter.name}}</b> has been rejected.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-top: 5px;">
                        <ngb-pagination [collectionSize]="totalItems" [(page)]="curPage"  [maxSize]="5" 
                        [rotate]="true" [pageSize]="itemsPerPage" [boundaryLinks]="true" [ellipses]="false" 
                        (pageChange)="loadPage($event)">
                        </ngb-pagination>
                    </div>
                </div>
              </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>