
<div class="row container">
    <div class="col-md-12">
        <form>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <input type="text" placeholder="Job Type" class="form-control" style="border-radius:5px;">
                        <span style="float: right;
                        margin-top: -25px;
                        margin-right: 10px;
                        color: #6c757d;" class="feather icon-search"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <input type="text" placeholder="Location" class="form-control" style="border-radius:5px;"
                        (input)="changeLocation($event.target.value)" [(ngModel)]="location" name="location">
                        <span style="float: right;
                        margin-top: -25px;
                        margin-right: 10px;
                        color: #6c757d;" class="feather icon-map-pin"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <input type="text" placeholder="Skill" class="form-control" style="border-radius:5px;">
                        <span style="float: right;
                        margin-top: -25px;
                        margin-right: 10px;
                        color: #6c757d;" class="feather icon-grid"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <input type="text" placeholder="Specialization" class="form-control" style="border-radius:5px;">
                        <span style="float: right;
                        margin-top: -25px;
                        margin-right: 10px;
                        color: #6c757d;" class="feather icon-layers"></span>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-12" style="margin-bottom: 20px;">
        <ngb-carousel>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="http://34.70.54.184:9000/banner/banner1.jpeg" alt="Random first slide"
              style="width: 100%">
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="http://34.70.54.184:9000/banner/banner2.png" alt="Random second slide"
              style="width: 100%">
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="http://34.70.54.184:9000/banner/banner3.jpeg" alt="Random third slide"
              style="width: 100%">
            </div>
          </ng-template>
        </ngb-carousel>
    </div>

    <div class="col-md-6 col-xl-4" *ngFor="let seeker of seekers">
        <app-card [hidHeader]="true">
            <a href="javascript:void(0)" (click)="detail(seeker.userID, seeker.statusID)"> 
                <h5 class="card-title">{{seeker.name}}</h5>
            </a>

            <p class="card-text" style="font-size:15px;margin-bottom:0px;color: #6c757d !important;
            font-weight: bold;" *ngIf="seeker.experience?.length > 0">
                <i class="feather icon-briefcase"></i>&nbsp; {{seeker.experience[0].position}}
            </p>

            <p style="margin-left: 22px;font-size: 15px;
            margin-bottom: 15px;color: #6c757d !important;font-weight: bold;"
            *ngIf="seeker.experience?.length > 0">{{seeker.experience[0].companyName}}</p>

            <p class="card-text" style="font-size:15px;margin-bottom:0px;color: #6c757d !important;
            font-weight: bold;" *ngIf="seeker.experience?.length <= 0">
                <i class="feather icon-briefcase"></i>&nbsp; NA
            </p>

            <p style="margin-left: 22px;font-size: 15px;
            margin-bottom: 15px;color: #6c757d !important;font-weight: bold;"
            *ngIf="seeker.experience?.length <= 0">NA</p>

            <p class="card-text" style="font-size:15px;color: #6c757d !important;
            margin-bottom: 15px;">
                <i class="feather icon-map-pin"></i>&nbsp; {{seeker.kelurahan}}, {{seeker.provinsi}}
            </p>

            <p class="card-text" style="font-size:15px;margin-bottom:10px;color: #6c757d !important;">
                <i class="feather icon-layers"></i>&nbsp; {{seeker.education}}
            </p>

            <div>
                <button class="btn btn-outline-primary" style="float: right;border-radius:5px;margin-left: 5px;"
                (click)="detail(seeker.userID, seeker.statusID)">Detail</button>
            </div>
        </app-card>
    </div>
</div>