<div class="row">
    <div class="col-sm-12">
      <app-card [hidHeader]="true">
        <h5>Job Vacancy</h5>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-primary" style="float:right;"
                (click)="add()" *ngIf="showBtnAdd">Add</button>
            </div>
        </div>

        <form style="margin-top:25px;" *ngIf="showFormAdd" [formGroup]="vacancyAddForm" nonvalidate>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputName">Job Position
                            <span style="color:red;">*</span>
                        </label>
                        <input type="text" class="form-control" id="exampleInputName" 
                        aria-describedby="name" placeholder="Enter job position" 
                        name="name" formControlName="name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputJob">Employee Status
                            <span style="color:red;">*</span>
                        </label>
                        <select2 [data]="jobs" [cssImport]=true width="100%" 
                        style="width: 100%;"
                        [value]="jobTypeID" (valueChanged)="changedJobType($event)"
                        [options]="{ placeholder: 'Choose Employee Status' }"></select2>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputJob">Working Site
                            <span style="color:red;">*</span>
                        </label>
                        <select2 [data]="sites" [cssImport]=true width="100%" 
                        style="width: 100%;"
                        [value]="workingSiteID" (valueChanged)="changedWorkingSite($event)"
                        [options]="{ placeholder: 'Choose Working Site' }"></select2>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputSalaryStart">Salary Range (minimum Rp./months)
                            <span style="color:red;">*</span>
                        </label>
                        <input type="text" class="form-control" id="exampleInputSalaryStart" 
                        placeholder="Enter salary range" name="salaryStart" 
                        formControlName="salaryStart" (change)="transformAmountStart($event)" 
                        [(ngModel)]="formattedAmountStart">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputSalaryShow">Show Salary
                            <span style="color:red;">*</span>
                        </label>
                        <select2 [data]="salaryShow" [cssImport]=true width="100%" 
                        style="width: 100%;"
                        [value]="showSalary" (valueChanged)="changedShowSalary($event)"
                        [options]="{ placeholder: 'Choose Show Salary' }"></select2>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputSalaryShow">Open Job
                            <span style="color:red;">*</span>
                        </label>
                        <select2 [data]="openJobs" [cssImport]=true width="100%" 
                        style="width: 100%;"
                        [value]="oJobs" (valueChanged)="changedOpenJobs($event)"
                        [options]="{ placeholder: 'Choose Open Job' }"></select2>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputProcessType">Recruitment Process Type
                            <span style="color:red;">*</span>
                        </label>
                        <select2 [data]="processTypes" [cssImport]=true width="100%" 
                        style="width: 100%;"
                        [value]="processType" (valueChanged)="changedProcessType($event)"
                        [options]="{ placeholder: 'Choose Recruitment Process Type' }"></select2>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlDescription">Job Description
                            <span style="color:red;">*</span>
                        </label>
                        <textarea class="form-control" id="exampleFormControlDescription" rows="3"
                        formControlName="description" placeholder="Enter job description"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputCareerLevel">Job Level
                            <span style="color:red;">*</span>
                        </label>
                        <select2 [data]="careers" [cssImport]=true width="100%" 
                        style="width: 100%;"
                        [value]="careerLevelID" (valueChanged)="changedCareerLevel($event)"
                        [options]="{ placeholder: 'Choose Career Level' }"></select2>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputJob">Specialization
                            <span style="color:red;">*</span>
                        </label>
                        <select2 [data]="specials" [cssImport]=true width="100%" 
                        style="width: 100%;"
                        [value]="specialID" (valueChanged)="changedSpecialization($event)"
                        [options]="{ placeholder: 'Choose Specialization' }"></select2>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputLocation">Job Location
                            <span style="color:red;">*</span>
                        </label>
                        <select2 [data]="locs" [cssImport]=true width="100%" 
                        style="width: 100%;" [value]="locationID" (valueChanged)="changedLocation($event)"
                        [options]="{ placeholder: 'Choose Location' }"></select2>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputClosedDate">Closed Date
                            <span style="color:red;">*</span>
                        </label>
                        <input type="date" class="form-control" id="exampleInputClosedDate" 
                        aria-describedby="closedDate"  placeholder="Enter closed date" 
                        formControlName="closedDate" [(ngModel)]="closedDates">
                        <div
                            *ngIf="vacancyEditForm.controls['closedDate'].invalid && (vacancyEditForm.controls['closedDate'].dirty || 
                            vacancyEditForm.controls['closedDate'].touched)"
                            >
                            <span *ngIf="vacancyEditForm.controls['closedDate'].errors.required" class="text-danger">*
                                Closed date must be filled</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputSalaryEnd">Salary Range (maximum Rp./months)
                            <span style="color:red;">*</span>
                        </label>
                        <input type="text" class="form-control" id="exampleInputSalaryEnd" 
                        placeholder="Isi salary sampai" name="salaryEnd" 
                        formControlName="salaryEnd" (change)="transformAmountEnd($event)" 
                        [(ngModel)]="formattedAmountEnd">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputWorkType">Work Type
                            <span style="color:red;">*</span>
                        </label>
                        <select2 [data]="workTypes" [cssImport]=true width="100%" 
                        style="width: 100%;"
                        [value]="workType" (valueChanged)="changedWorkType($event)"
                        [options]="{ placeholder: 'Choose Work Type' }"></select2>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlRequirement">Job Requirement
                            <span style="color:red;">*</span>
                        </label>
                        <textarea class="form-control" id="exampleFormControlRequirement" rows="3"
                        formControlName="requirement" placeholder="Enter requirement"></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary" (click)="save()">Save</button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-light" (click)="batal()">Cancel</button>
                </div>
            </div>
        </form>

        <hr>

        <div class="col-md-12" *ngFor="let vacancy of vacancys; let i=index" style="margin-top:20px;">
            <div class="row">
                <div class="col-md-12">    
                    <form style="margin-top:20px;" *ngIf="showFormEdit && vacancy.id == id" 
                    [formGroup]="vacancyEditForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputName">Job Position
                                        <span style="color:red;">*</span>
                                    </label>
                                    <input type="text" class="form-control" id="exampleInputName" 
                                    aria-describedby="name" placeholder="Enter name" 
                                    name="name" formControlName="name" 
                                    ([ngModel])="vacancy.name">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputJob">Employee Status
                                        <span style="color:red;">*</span>
                                    </label>
                                    <select2 [data]="jobs" [cssImport]=true width="100%" 
                                    style="width: 100%;"
                                    [value]="jobTypeID" (valueChanged)="changedJobType($event)"
                                    [options]="{ placeholder: 'Choose Employee Status' }"></select2>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputJob">Working Site
                                        <span style="color:red;">*</span>
                                    </label>
                                    <select2 [data]="sites" [cssImport]=true width="100%" 
                                    style="width: 100%;"
                                    [value]="workingSiteID" (valueChanged)="changedWorkingSite($event)"
                                    [options]="{ placeholder: 'Choose Working Site' }"></select2>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputSalaryStart">Salary Range (minimum Rp./months)
                                        <span style="color:red;">*</span>
                                    </label>
                                    <input type="text" class="form-control" id="exampleInputSalaryStart" 
                                    placeholder="Enter salary dari" name="salaryStart" 
                                    formControlName="salaryStart" (change)="transformAmountStart($event)" 
                                    [(ngModel)]="formattedAmountStart">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputSalaryShow">Show Salary
                                        <span style="color:red;">*</span>
                                    </label>
                                    <select2 [data]="salaryShow" [cssImport]=true width="100%" 
                                    style="width: 100%;"
                                    [value]="showSalary" (valueChanged)="changedShowSalary($event)"
                                    [options]="{ placeholder: 'Choose show salary' }"></select2>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputSalaryShow">Open Job
                                        <span style="color:red;">*</span>
                                    </label>
                                    <select2 [data]="openJobs" [cssImport]=true width="100%" 
                                    style="width: 100%;"
                                    [value]="selectedOpenJob" (valueChanged)="changedOpenJob($event)"
                                    [options]="{ placeholder: 'Choose open job' }"></select2>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputProcessType">Recruiment Process Type
                                        <span style="color:red;">*</span>
                                    </label>
                                    <select2 [data]="processTypes" [cssImport]=true width="100%" 
                                    style="width: 100%;"
                                    [value]="selectedProcessType" (valueChanged)="changedProcessType($event)"
                                    [options]="{ placeholder: 'Choose Recruiprocess type' }"></select2>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlDescription">Job Description
                                        <span style="color:red;">*</span>
                                    </label>
                                    <textarea class="form-control" id="exampleFormControlDescription" rows="3"
                                    formControlName="description" placeholder="Enter description"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputCareerLevel">Job Level
                                        <span style="color:red;">*</span>
                                    </label>
                                    <select2 [data]="careers" [cssImport]=true width="100%" 
                                    style="width: 100%;"
                                    [value]="careerLevelID" (valueChanged)="changedCareerLevel($event)"
                                    [options]="{ placeholder: 'Choose Career Level' }"></select2>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputJob">Specialization
                                        <span style="color:red;">*</span>
                                    </label>
                                    <select2 [data]="specials" [cssImport]=true width="100%" 
                                    style="width: 100%;"
                                    [value]="specialID" (valueChanged)="changedSpecialization($event)"
                                    [options]="{ placeholder: 'Pilih Spesialisasi' }"></select2>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputLocation">Job Location
                                        <span style="color:red;">*</span>
                                    </label>
                                    <select2 [data]="locs" [cssImport]=true width="100%" 
                                    style="width: 100%;" [value]="locationID" (valueChanged)="changedLocation($event)"
                                    [options]="{ placeholder: 'Choose Location' }"></select2>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputSalaryEnd">Salary Range (maximum Rp./months)
                                        <span style="color:red;">*</span>
                                    </label>
                                    <input type="text" class="form-control" id="exampleInputSalaryEnd" 
                                    placeholder="Isi salary sampai" name="salaryEnd" 
                                    formControlName="salaryEnd" (change)="transformAmountEnd($event)" 
                                    [(ngModel)]="formattedAmountEnd">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputClosedDate">Closed Date
                                        <span style="color:red;">*</span>
                                    </label>
                                    <input type="date" class="form-control" id="exampleInputClosedDate" 
                                    aria-describedby="closedDate"  placeholder="Enter closed date" 
                                    formControlName="closedDate" [(ngModel)]="closedDates">
                                    <div
                                        *ngIf="vacancyEditForm.controls['closedDate'].invalid && (vacancyEditForm.controls['closedDate'].dirty || 
                                        vacancyEditForm.controls['closedDate'].touched)"
                                        >
                                        <span *ngIf="vacancyEditForm.controls['closedDate'].errors.required" class="text-danger">*
                                            Closed date must be filled</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputWorkType">Work Type
                                        <span style="color:red;">*</span>
                                    </label>
                                    <select2 [data]="workTypes" [cssImport]=true width="100%" 
                                    style="width: 100%;"
                                    [value]="selectedWorkType" (valueChanged)="changedWorkType($event)"
                                    [options]="{ placeholder: 'Choose work type' }"></select2>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlRequirement">Job Requirement
                                        <span style="color:red;">*</span>
                                    </label>
                                    <textarea class="form-control" id="exampleFormControlRequirement" rows="3"
                                    formControlName="requirement" placeholder="Enter requirement"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="button" class="btn btn-primary" (click)="update(vacancy.id)">Save</button>&nbsp;&nbsp;
                                <button type="button" class="btn btn-light" (click)="batal()">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row" [id]="vacancy.id">
                <div class="col-md-4" [id]="vacancy.id">
                    <div class="form-group" [id]="vacancy.id">
                        <div style="font-size:15px;">
                            {{vacancy.name}}
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <h5>{{vacancy.careerLevel.name}}</h5> 
                    </div>
                    <br [id]="vacancy.id">
                    <div class="small-form-group" style="margin-left:-15px;" [id]="vacancy.id">
                        <label class="col-xs-4 col-sm-3">Salary Range</label>
                        <label class="col-xs-8 col-sm-9" *ngIf="formattedAmountStart != '' && formattedAmountEnd != ''">
                            Rp {{vacancy.startSalary}} - Rp {{vacancy.endSalary}}
                        </label>

                        <label class="col-xs-4 col-sm-3">Working Site</label>
                        <label class="col-xs-8 col-sm-9" *ngIf="vacancy.workingSiteID == 0">
                            -
                        </label>
                        <label class="col-xs-8 col-sm-9" *ngIf="vacancy.workingSiteID != 0">
                            {{vacancy.workingSite.name}}
                        </label>
                        <label class="col-xs-4 col-sm-3">Show Salary</label>
                        <label class="col-xs-8 col-sm-9" *ngIf="vacancy.salaryShow === false">
                            No
                        </label>
                        <label class="col-xs-8 col-sm-9" *ngIf="vacancy.salaryShow === true">
                            Yes
                        </label>
                        <label class="col-xs-4 col-sm-3">Specialization</label>
                        <label class="col-xs-8 col-sm-9" *ngIf="vacancy.specializationID == 0">
                            -
                        </label>
                        <label class="col-xs-8 col-sm-9" *ngIf="vacancy.specializationID != 0">
                            {{vacancy.specialization.name}}
                        </label>
                        <label class="col-xs-4 col-sm-3">Job Location</label>
                        <label class="col-xs-8 col-sm-9" *ngIf="vacancy.companyLocation.city == ''">
                            -
                        </label>
                        <label class="col-xs-8 col-sm-9" *ngIf="vacancy.companyLocation.city != ''">
                            {{vacancy.companyLocation.city}}
                        </label>
                        <label class="col-xs-4 col-sm-3">Job Requirement</label>
                        <label class="col-xs-8 col-sm-9" *ngIf="vacancy.requirement != ''">
                            {{vacancy.requirement}}
                        </label>
                        <label class="col-xs-8 col-sm-9" *ngIf="vacancy.requirement == ''">
                            -
                        </label>
                        <label class="col-xs-4 col-sm-3">Job Description</label>
                        <label class="col-xs-8 col-sm-9" *ngIf="vacancy.description != ''">
                            {{vacancy.description}}
                        </label>
                        <label class="col-xs-8 col-sm-9" *ngIf="vacancy.description == ''">
                            -
                        </label>
                        <label class="col-xs-4 col-sm-3">Open Job</label>
                        <label class="col-xs-8 col-sm-9" *ngIf="vacancy.requirement != '1'">
                            No
                        </label>
                        <label class="col-xs-8 col-sm-9" *ngIf="vacancy.requirement == '1'">
                            Yes
                        </label>
                        <label class="col-xs-4 col-sm-3">Closed Date</label>
                        <label class="col-xs-8 col-sm-9" *ngIf="vacancy.closedDate != ''">
                            {{vacancy.closedDate | date : 'dd-MM-yyyy'}}
                        </label>
                        <label class="col-xs-8 col-sm-9" *ngIf="vacancy.closedDate == ''">
                            -
                        </label>
                        <label class="col-xs-4 col-sm-3">Work Type</label>
                        <label class="col-xs-8 col-sm-9" *ngIf="vacancy.workType != ''">
                            {{vacancy.workType}}
                        </label>
                        <label class="col-xs-8 col-sm-9" *ngIf="vacancy.workType == ''">
                            -
                        </label>
                        <label class="col-xs-4 col-sm-3">Recruitment Process Type</label>
                        <label class="col-xs-8 col-sm-9" *ngIf="vacancy.processType != ''" style="white-space:nowrap;">
                            {{vacancy.processType}}
                        </label>
                        <label class="col-xs-8 col-sm-9" *ngIf="vacancy.processType == ''">
                            -
                        </label>
                    </div>
                </div>
                <div class="col-md-2" [id]="vacancy.id">
                    <i class="feather icon-edit" (click)="editForm(vacancy.id)" *ngIf="showBtnEdit"></i>
                </div>
            </div>
        </div>
      </app-card>
    </div>
</div>
  