<div class="row">
    <div class="col-md-12">
      <app-card [hidHeader]="true">
        <h5>Access Matrix</h5>
        <hr>
        <div class="md-form">
            <div class="row">
                <div class="col-md-6">
                    <mdb-select [options]="optionsSelect" 
                        [(ngModel)]="filter.roleId"
                        placeholder=""
                        (ngModelChange)="searchByRole()" placeholder="Role">
                    </mdb-select>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary" type="button" (click)="saveMenuAccess()">
                        Save
                    </button>
                </div>
            </div>
        </div>

        <div class="md-form" style="margin-top:35px;">
            <ngx-treeview [items]="items" [itemTemplate]="itemTemplate" (selectedChange)="onSelectedChange($event)"
                (filterChange)="onFilterChange($event)">
            </ngx-treeview>
        </div>
      </app-card>
    </div>
</div>


<ng-template #itemTemplate let-item="item" let-onCollapseExpand="onCollapseExpand"
    let-onCheckedChange="onCheckedChange">
    <div class="form-inline row-item">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" [(ngModel)]="item.checked"
                (ngModelChange)="onCheckedChange()" [disabled]="item.disabled" [indeterminate]="item.indeterminate" />
            <label class="form-check-label" (click)="item.checked = !item.checked; onCheckedChange()">
                {{item.text}}
            </label>
        </div>
    </div>
</ng-template>