<div class="row">
    <!-- [ basic-table ] start -->
    <div class="col-md-12">
      <app-card [hidHeader]="true">
        <h5>CV List </h5>
        <hr>
        <div class="table-responsive" style="margin-top:10px;">
          <table class="table">
            <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>CV English</th>
              <th>CV Bahasa</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody *ngFor="let seeker of seekers; let i=index">
                <tr>
                <td>{{seeker.id}}</td>
                <td>{{seeker.firstName}} - {{seeker.lastName}}</td>
                <td>
                    <a class="feather icon-download" (click)="download(seeker.id, 'cv_english', seeker.cvEnglish)"> {{seeker.cvEnglish}}
                    </a> 
                </td>
                <td>
                    <a class="feather icon-download" (click)="download(seeker.id, 'cv_bahasa', seeker.cvBahasa)"> {{seeker.cvBahasa}}
                    </a> 
                </td>
                <td>
                    <button class="btn btn-danger" (click)="delete(seeker.id)">Delete</button>
                </td>
                </tr>
            </tbody>
            <tfoot class="grey lighten-5 ">
                <tr>
                    <td colspan="12">
                            Page {{curPage}} Of {{maxTotalpage}}<br>
                            <!-- <button mdbBtn type="button" color="red" size="sm" outline="true" rounded="true"
                                (click)="onPreviousPageClick()">
                                <mdb-icon fas icon="angle-left"></mdb-icon>
                            </button>
                            <ul style="display: inline-block" class="pagination pagination-circle pg-red"
                                *ngFor="let tl of total">
                                <li class="page-item" *ngIf="tl != curPage">
                                    <a class="page-link" (click)="onClick(tl)">{{tl}}</a>
                                </li>
                                <li class="page-item active" *ngIf="tl == curPage">
                                    <a class="page-link" (click)="onClick(tl)">{{tl}}</a>
                                </li>
                            </ul>
                            <button mdbBtn type="button" color="red" size="sm" outline="true" rounded="true"
                                (click)="onNextPageClick()">
                                <mdb-icon fas icon="angle-right"></mdb-icon>
                            </button> -->
                            <ngb-pagination [collectionSize]="totalItems" [(page)]="curPage"  [maxSize]="5" 
                            [rotate]="true" [pageSize]="itemsPerPage" [boundaryLinks]="true" [ellipses]="false" 
                            (pageChange)="loadPage($event)">
                            </ngb-pagination>
                    </td>
                </tr>
            </tfoot>
          </table>
        </div>
      </app-card>
    </div>
</div>