<div class="modal-header">
    <h5 *ngIf="role.id == 0">Add</h5>
    <h5 *ngIf="role.id != 0">Edit</h5>
</div>

<form [formGroup]="roleForm" novalidate>
    <div class="modal-body">
        <div class="container form-group">
            <div class="form-group">
                <label for="fullName">Role</label>
                <input mdbInput id="fullName" type="text" class="form-control" [(ngModel)]="role.name"
                    [disabled]="uneditable" formControlName="name" placeholder="Enter role">
                <div
                    *ngIf="roleForm.controls['name'].invalid && (roleForm.controls['name'].dirty || roleForm.controls['name'].touched)"
                    >
                    <span *ngIf="roleForm.controls['name'].errors.required" class="text-danger">*
                        Role must be filled</span>
                    </div>
                </div>
              <div class="form-group">
                <label for="description">Description</label>
                <input mdbInput id="description" type="text" class="form-control" [(ngModel)]="role.description"
                    formControlName="description" placeholder="Enter description">
                <div
                    *ngIf="roleForm.controls['description'].invalid && (roleForm.controls['description'].dirty || roleForm.controls['description'].touched)"
                    >
                    <span *ngIf="roleForm.controls['description'].errors.required" class="text-danger">*
                        Description must be filled</span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeForm()">
            Cancel
        </button> &nbsp;&nbsp;
        <button type="button" class="btn btn-primary" (click)="save()" *ngIf="role.id == 0"
        [disabled]="roleForm.invalid">Save</button>
        <button type="button" class="btn btn-primary" (click)="edit()" *ngIf="role.id != 0" 
        [disabled]="roleForm.invalid">Save</button>
    </div>
</form>
<!-- </div> -->