<div class="row">
    <!-- [ basic-table ] start -->
    <div class="col-md-12">
      <app-card [hidHeader]="true">
        <h5>Business Unit</h5>
        <hr>
        <div class="table-responsive" style="margin-top:40px;">
          <table class="table">
            <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
            </tr>
            </thead>
            <tbody *ngFor="let businessUnit of businessUnits; let i=index">
                <tr>
                <td>{{businessUnit.id}}</td>
                <td>{{businessUnit.name}}</td>
                </tr>
            </tbody>
            <tfoot class="grey lighten-5 ">
                <tr>
                    <td colspan="12">
                        Page {{curPage}} Of {{maxTotalpage}}<br>
                        <ngb-pagination [collectionSize]="totalItems" [(page)]="curPage"  [maxSize]="5" 
                        [rotate]="true" [pageSize]="itemsPerPage" [boundaryLinks]="true" [ellipses]="false" 
                        (pageChange)="loadPage($event)">
                        </ngb-pagination>
                    </td>
                </tr>
            </tfoot>
          </table>
        </div>
      </app-card>
    </div>
</div>