<div class="row">
    <div class="col-sm-12">
      <app-card [hidHeader]="true">
        <h5>Company Profile &nbsp;
            <span class="feather icon-edit" style="font-size:16px;" (click)="edit(profile)" 
            *ngIf="!showForm">
            </span>
        </h5>
        <hr>
        <div class="row" *ngIf="!showForm">
            <div class="col-md-6">
                <table class="table">
                    <tbody>
                        <tr>
                            <td style="border-top: none;width: 40%;">Name</td>
                            <td style="border-top: none;font-weight:bold;color:black;width:50%;" 
                            *ngIf="profile.name === ''">
                                -
                            </td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.name !== ''">
                                {{profile.name}}
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: none;">Number of Employee</td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.companySize == ''">
                                -
                            </td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.companySize != ''">
                                {{profile.companySize}}
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: none;">Zip Code</td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.kodePos.kodePos == ''">
                                -
                            </td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.kodePos.kodePos != ''">
                                {{profile.kodePos.kodePos}}
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: none;">District</td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.kodePos.kecamatan == ''">
                                -
                            </td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.kodePos.kecamatan != ''">
                                {{profile.kodePos.kecamatan}}
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: none;">Address</td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.address == ''">
                                -
                            </td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.address != ''">
                                {{profile.address}}
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: none;">Social Media</td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;">
                                -
                            </td>
                            <!-- <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.kodePos?.kabupaten != ''">
                                {{profile.kodePos.kabupaten}}
                            </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table">
                    <tbody>
                        <tr>
                            <td style="border-top: none;">Website</td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.website == ''">
                                -
                            </td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.website != ''">
                                <a href="">
                                    {{profile.website}}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: none;width: 40%;">Industry</td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.industry == 0">
                                -
                            </td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.industry != 0">
                                {{profile.businessUnit.name}}
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: none;">Village</td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.kodePos.kelurahan == ''">
                                -
                            </td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.kodePos.kelurahan != ''">
                                {{profile.kodePos.kelurahan}}
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: none;">Province</td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.kodePos.provinsi == ''">
                                -
                            </td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.kodePos.provinsi != ''">
                                {{profile.kodePos.provinsi}}
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: none;">Description</td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.shortDescription == ''">
                                -
                            </td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.shortDescription != ''">
                                {{profile.shortDescription}}
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: none;">Avatar</td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.avatar === ''">
                                -
                            </td>
                            <td style="border-top: none;font-weight:bold;
                            color:black;width:50%;" *ngIf="profile.avatar !== ''">
                                <img src="{{profile.avatar}}" style="width:100%">
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>

        <form [formGroup]="sprofileForm" *ngIf="showForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputFirstName">Name
                            <span style="color:red;">*</span>
                        </label>
                        <input type="text" class="form-control" id="exampleInputFirstName" 
                        aria-describedby="firstName" placeholder="Enter nama" 
                        [(ngModel)]="profile.name" formControlName="names">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputCompanySize">Number of Employee
                            <span style="color:red;">*</span>
                        </label>
                        <!-- <input type="text" class="form-control" id="exampleInputCompanySize" 
                        placeholder="Enter number of employee" formControlName="companySize" 
                        [(ngModel)]="profile.companySize"> -->
                        <select2 [data]="numberOfEmployees" [cssImport]=true width="100%" 
                            style="width: 100%;"
                            [value]="numberOfEmployee" (valueChanged)="changedNumberOfEmployees($event)"
                            [options]="{ placeholder: 'Choose Number of Employee' }">
                        </select2>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputZipCode">Zip Code
                            <span style="color:red;">*</span>
                        </label>
                        <input type="text" class="form-control" id="exampleInputZipCode" 
                        aria-describedby="zipCode"  placeholder="Enter zip code" 
                        formControlName="kodePos" [(ngModel)]="profile.kodePos.kodePos" 
                        (ngModelChange)="onChangeZipCode($event)">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputCity">District
                            <span style="color:red;">*</span>
                        </label>
                        <select2 [data]="districts" [cssImport]=true width="100%" 
                            style="width: 100%;" [value]="selectedDistrict"
                            [options]="{ placeholder: 'Choose District' }" [disabled]="true">
                        </select2>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputProvince">Province
                            <span style="color:red;">*</span>
                        </label>
                        <select2 [data]="provinces" [cssImport]=true width="100%" 
                            style="width: 100%;" [value]="selectedProvince"
                            [options]="{ placeholder: 'Choose Province' }" [disabled]="true">
                        </select2>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlAddress">Address
                            <span style="color:red;">*</span>
                        </label>
                        <textarea class="form-control" id="exampleFormControlAddress" rows="3"
                        formControlName="address" [(ngModel)]="profile.address" ></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPhone">Avatar</label>
                        <input type="file" class="form-control" id="exampleInputAvatar" 
                        (change)="processAvatar($event)" formControlName="avatar">
                    </div>
                    <div *ngIf="profile.avatar != '' " class="md-form">
                        <img src="{{profile.avatar}}" alt="thumbnail" class="img-thumbnail"
                            style="height: 150px; margin-bottom: 15px;">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputWebsite">Website
                            <span style="color:red;">*</span>
                        </label>
                        <input type="text" class="form-control" id="exampleInputWebsite" 
                        placeholder="Enter website" formControlName="website" 
                        [(ngModel)]="profile.website">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputIndustri">Industry
                            <span style="color:red;">*</span>
                        </label>
                        <!-- <input type="text" class="form-control" id="exampleInputIndustri" 
                        aria-describedby="industri"  placeholder="Isi industri" formControlName="industry"
                        [(ngModel)]="profile.industry"> -->
                        <select2 [data]="businessUnits" [cssImport]=true width="100%" 
                            style="width: 100%;" (valueChanged)="changedIndustry($event)" 
                            [value]="selectedIndustry"
                            [options]="{ placeholder: 'Choose Industry' }">
                        </select2>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputCity">Villages
                            <span style="color:red;">*</span>
                        </label>
                        <select2 [data]="villages" [cssImport]=true width="100%" 
                            style="width: 100%;" (valueChanged)="changedCity($event)"
                            [value]="selectedCity"
                            [options]="{ placeholder: 'Choose Villages' }">
                        </select2>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputCity">City
                            <span style="color:red;">*</span>
                        </label>
                        <select2 [data]="cities" [cssImport]=true width="100%" 
                            style="width: 100%;" [value]="selectedVillages"
                            [options]="{ placeholder: 'Choose City' }" [disabled]="true">
                        </select2>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputSM">Social Media
                        </label>
                        <select2 [data]="socialMedias" [cssImport]=true width="100%" 
                            style="width: 100%;"
                            [options]="{ placeholder: 'Choose Social Media' }">
                        </select2>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlDescription">Description
                            <span style="color:red;">*</span>
                        </label>
                        <textarea class="form-control" id="exampleFormControlDescription" rows="3"
                        formControlName="shortDescription" [(ngModel)]="profile.shortDescription" ></textarea>
                    </div>
                </div>

                <div class="col-md-12">
                    <button type="button" class="btn btn-primary" (click)="save()" 
                    [disabled]="sprofileForm.invalid" *ngIf="profile.id == 0">Save</button>
                    <button type="button" class="btn btn-primary" (click)="editForm()" 
                    [disabled]="sprofileForm.invalid" *ngIf="profile.id != 0">Save</button> &nbsp;&nbsp;
                    <button type="button" class="btn btn-light" (click)="batal()">Cancel</button>
                </div>
            </div>
        </form>
      </app-card>
    </div>
</div>
  