<div class="row" class="container">
  <!-- <div class="col-md-12 col-xl-12">
    <h5>Jobs</h5>
    <hr>
  </div>
  
  <div class="col-md-12">
    <form [formGroup]="searchForm" novalidate>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <input type="text" placeholder="Search" class="form-control" ([ngModel])="names" 
          formControlName="names">
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <button class="btn btn-primary" (click)="search()"> <i class="feather icon-search"></i></button>
        </div>
      </div>
    </div>
    </form>
  </div> -->
  <!-- <ng-container> -->
    <!-- <div class="col-md-6 col-xl-4" *ngFor="let vacancy of vacancys; let i=index">
      <app-card [hidHeader]="true">
        <h6 class="card-title" style="margin-bottom:0px;">{{vacancy.careerLevel.name}} - {{vacancy.specialization.name}}</h6>
        <p>{{vacancy.name}}</p>
        <p class="card-text" style="font-size:13px;margin-bottom:0px;" *ngIf="vacancy.companyLocation.city !== ''"><b>{{vacancy.companyLocation.city}}</b></p>
        <p class="card-text" style="font-size:13px;margin-bottom:0px;" *ngIf="vacancy.companyLocation.city === ''"><b>NA</b></p>
        <p class="card-text" style="font-size:13px;margin-bottom:2px;" *ngIf="vacancy.salaryStart !== '' && vacancy.salaryEnd !== '' && vacancy.salaryShow"><b>Rp {{vacancy.startSalary}} - {{vacancy.endSalary}} /months</b></p>
        <p class="card-text" style="font-size:13px;margin-bottom:2px;" *ngIf="vacancy.salaryStart === '' && vacancy.salaryEnd === '' && vacancy.salaryShow"><b>Rp {{vacancy.startSalary}} - {{vacancy.endSalary}} /months</b></p>
        <p class="card-text" style="font-size:13px;margin-bottom:2px;" *ngIf="vacancy.salaryStart !== '' && vacancy.salaryEnd !== '' && !vacancy.salaryShow"><b>-</b></p>
        <p class="card-text" style="font-size:13px;margin-bottom:2px;" *ngIf="vacancy.salaryStart === '' && vacancy.salaryEnd === '' && !vacancy.salaryShow"><b>-</b></p>

        <p style="margin-top:10px;font-size:10px;">
          <span>- {{vacancy.responbility}} &nbsp;&nbsp; - {{vacancy.jobType.name}}</span>
        </p>
        <hr>
        {{vacancy.createdAt | date : 'dd-MM-yyyy'}}
        <button class="btn btn-outline-primary" style="float: right" (click)="save(vacancy.id)">Save</button>
      </app-card>
    </div>
  </ng-container>
  <div class="col-md-12">
    <p *ngIf="vacancys?.length <= 0" style="font-weight: bold;"><i>Job not found</i></p>
  </div> -->
  <!-- </ng-container> -->
  
  <div class="col-md-12 col-xl-12" style="margin-top:50px;">
    <svg width="58" height="46" viewBox="0 0 58 46" fill="none" xmlns="http://www.w3.org/2000/svg" style="    position: absolute;
    width: 37px;
    margin-top: -46px;">
      <path d="M12.8949 33L11.3659 36.6314C11.1605 37.1192 11.3708 37.6826 11.8457 37.9165L17.1536 40.5312C17.6699 40.7855 18.2938 40.5526 18.5172 40.0221L20.0002 36.5M21.9045 35.938L5.47636 28.2595C2.45203 26.8459 1.14624 23.2483 2.55982 20.2239C3.97339 17.1996 7.57103 15.8938 10.5954 17.3074L21.5475 22.4264M19.7223 21.5732L30.066 26.4078C31.7462 27.1932 32.4716 29.1918 31.6863 30.872C30.901 32.5522 28.9023 33.2777 27.2221 32.4923L11.4024 25.0982M15.0002 13.1695L37.0002 3V43L11.0002 30.7966M50.0002 21H56.0002M49.4841 12.7174L54.3905 10.5273M49.4841 28.7447L54.3905 30.9348" stroke="#FFC60A" stroke-width="3" stroke-linecap="round"/>
    </svg>
    <p style="font-size: 36px;margin-left: 43px;margin-top: -48px;
    position: absolute;font-weight: bold;">Jobs</p>
  </div>

  <div class="col-md-12" style="margin-bottom: 50px;top: 20px;">
    <form>
      <div class="row">
          <div class="col-md-3">
              <div class="form-group">
                  <input type="text" placeholder="Specialization" class="form-control" style="border-radius:5px;background-color:transparent;"
                  (input)="changeSpecialization($event.target.value)" [(ngModel)]="specialization" name="specialization">
                  <span style="float: right;
                  margin-top: -25px;
                  margin-right: 10px;
                  color: #6c757d;" class="feather icon-layers"></span>
              </div>
          </div>
          <div class="col-md-3">
              <div class="form-group">
                  <input type="text" placeholder="Job Level" class="form-control" style="border-radius:5px;
                  background-color:transparent;"
                  (input)="changeJobLevel($event.target.value)" [(ngModel)]="jobLevel" name="jobLevel">
                  <span style="float: right;
                  margin-top: -25px;
                  margin-right: 10px;
                  color: #6c757d;" class="feather icon-search"></span>
              </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
                <input type="text" placeholder="Industry" class="form-control" style="border-radius:5px;
                background-color:transparent;"
                (input)="changeIndustry($event.target.value)" [(ngModel)]="industry" name="industry">
                <span style="float: right;
                margin-top: -25px;
                margin-right: 10px;
                color: #6c757d;" class="feather icon-home"></span>
            </div>
          </div>
          <div class="col-md-3">
              <div class="form-group">
                  <input type="text" placeholder="Location" class="form-control" style="border-radius:5px;
                  background-color:transparent;"
                  (input)="changeLocation($event.target.value)" [(ngModel)]="location" name="location">
                  <span style="float: right;
                  margin-top: -25px;
                  margin-right: 10px;
                  color: #6c757d;" class="feather icon-map-pin"></span>
              </div>
          </div>
      </div>
    </form>
  </div>
  
  <div class="col-md-12" style="margin-bottom: 50px;">
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="http://34.70.54.184:9000/banner/banner1.jpeg" alt="Random first slide"
          style="width: 100%;border-radius: 10px;">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="http://34.70.54.184:9000/banner/banner2.png" alt="Random second slide"
          style="width: 100%;border-radius: 10px;">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="http://34.70.54.184:9000/banner/banner3.jpeg" alt="Random third slide"
          style="width: 100%; border-radius: 10px;">
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6" style="margin-bottom: 20px;" *ngFor="let vacancy of vacancys; let i=index">
        <div class="card" style="border-radius: 10px;">
          <!-- <div class="col-md-12">
            <img src="http://34.70.54.184:9000/icon/now_hiring.png" style="max-width: 45%;
            position: relative;margin: 0 auto;margin-left: 28%;">
          </div> -->

          <div class="col-md-12" style="margin-top:20px;">
            <h4 *ngIf="vacancy.name != ''">
              <a href="javascript:void(0)" (click)="vacancyCompanyDetail(vacancy.userCompanyID)" style="color:#000;">
                {{vacancy.name}}
              </a>
            </h4>
            <h4 *ngIf="vacancy.name == ''">N/A</h4>
          </div>

          <div class="col-md-12" style="margin-top:16px;">
            <div class="row">
              <div class="col-md-7">
                <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.39286 4.03571H7.57143V5.21429H6.39286V4.03571Z" fill="#00AEFF"/>
                  <path d="M6.39286 6H7.57143V7.17857H6.39286V6Z" fill="#00AEFF"/>
                  <path d="M9.53571 4.03571H8.35714V5.21429H9.53571V4.03571Z" fill="#00AEFF"/>
                  <path d="M8.35714 6H9.53571V7.17857H8.35714V6Z" fill="#00AEFF"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0V10.4286H11.2143V2.35714H8.07143V0H0ZM3.35714 3.35714H4.71429V4.71429H3.35714V3.35714ZM4.71429 5.71429H3.35714V7.07143H4.71429V5.71429ZM4.71429 8.07143H3.35714V9.42857H4.71429V8.07143ZM5.71429 9.42857H10.2143V3.35714H5.71429V9.42857ZM5.71429 2.35714H7.07143V1H5.71429V2.35714ZM4.71429 1H3.35714V2.35714H4.71429V1ZM1 4.71429H2.35714V3.35714H1V4.71429ZM2.35714 2.35714V1H1V2.35714H2.35714ZM2.35714 7.07143V5.71429H1V7.07143H2.35714ZM1 8.07143H2.35714V9.42857H1V8.07143Z" fill="#00AEFF"/>
                </svg>
                <p style="margin-top: -21px;margin-left: 24px;margin-bottom: 10px;" *ngIf="vacancy.companyName != ''">
                  {{vacancy.companyName}}
                </p>
                <p style="margin-top: -21px;margin-left: 24px;margin-bottom: 10px;" *ngIf="vacancy.companyName == ''">
                  N/A
                </p>
                <svg width="10" height="13" viewBox="0 0 10 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5 0C3.6744 0.00159736 2.40354 0.540183 1.4662 1.49761C0.528855 2.45504 0.00156917 3.75313 5.31949e-06 5.10714C-0.00158236 6.21364 0.352269 7.29011 1.00728 8.17143C1.00728 8.17143 1.14364 8.35482 1.16591 8.38129L5 13L8.83591 8.37896C8.8559 8.35436 8.99272 8.17143 8.99272 8.17143L8.99318 8.17004C9.64786 7.28911 10.0015 6.21313 10 5.10714C9.99843 3.75313 9.47114 2.45504 8.5338 1.49761C7.59646 0.540183 6.3256 0.00159736 5 0ZM5 6.96429C4.6404 6.96429 4.28887 6.85537 3.98987 6.6513C3.69088 6.44724 3.45783 6.15719 3.32022 5.81784C3.18261 5.47849 3.1466 5.10508 3.21676 4.74483C3.28691 4.38458 3.46008 4.05367 3.71435 3.79394C3.96863 3.53422 4.2926 3.35734 4.64529 3.28568C4.99798 3.21403 5.36356 3.2508 5.69579 3.39137C6.02802 3.53193 6.31198 3.76996 6.51176 4.07537C6.71155 4.38078 6.81818 4.73983 6.81818 5.10714C6.81758 5.5995 6.62583 6.07151 6.28498 6.41966C5.94414 6.76781 5.48203 6.96367 5 6.96429Z" fill="#FFC60A"/>
                </svg>
                <p style="margin-top: -21px;margin-left: 24px;margin-bottom: 10px;" *ngIf="vacancy.location != ''">
                  {{vacancy.location}}
                </p>
                <p style="margin-top: -21px;margin-left: 24px;margin-bottom: 10px;" *ngIf="vacancy.location == ''">
                  N/A
                </p>
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.92857 5.28571C9.20471 5.28571 9.42857 5.06186 9.42857 4.78571C9.42857 4.50957 9.20471 4.28571 8.92857 4.28571L3.07143 4.28571C2.79529 4.28571 2.57143 4.50957 2.57143 4.78571C2.57143 5.06186 2.79529 5.28571 3.07143 5.28571L8.92857 5.28571Z" fill="#192B7D"/>
                  <path d="M9.42857 6.5C9.42857 6.77614 9.20471 7 8.92857 7L3.07143 7C2.79529 7 2.57143 6.77614 2.57143 6.5C2.57143 6.22386 2.79529 6 3.07143 6L8.92857 6C9.20471 6 9.42857 6.22386 9.42857 6.5Z" fill="#192B7D"/>
                  <path d="M8.92857 8.71429C9.20471 8.71429 9.42857 8.49043 9.42857 8.21429C9.42857 7.93814 9.20471 7.71429 8.92857 7.71429L3.07143 7.71429C2.79529 7.71429 2.57143 7.93814 2.57143 8.21428C2.57143 8.49043 2.79529 8.71428 3.07143 8.71428L8.92857 8.71429Z" fill="#192B7D"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M12 6C12 9.31371 9.31371 12 6 12C2.68629 12 0 9.31371 0 6C0 2.68629 2.68629 0 6 0C9.31371 0 12 2.68629 12 6ZM11 6C11 8.76142 8.76142 11 6 11C3.23858 11 1 8.76142 1 6C1 3.23858 3.23858 1 6 1C8.76142 1 11 3.23858 11 6Z" fill="#192B7D"/>
                </svg>
                <p style="margin-top: -21px;margin-left: 24px;margin-bottom: 5px;">
                  {{vacancy.specialization}}
                </p>
                <p style="margin-top: -5px;margin-left: 24px;margin-bottom: 5px;">
                  {{vacancy.careerLevel}}
                </p>
                <p style="margin-top: -5px;margin-left: 24px;margin-bottom: 5px;">
                  {{vacancy.jobLevel}}
                </p>
                <p style="margin-top: -5px;margin-left: 24px;margin-bottom: 5px;">
                  {{vacancy.industry}} Employee
                </p>
              </div>
              <div class="col-md-5">
                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.5 8.5H4.5M8 8V3M14 7.5C14 11.0899 11.0899 14 7.5 14C3.91015 14 1 11.0899 1 7.5C1 3.91015 3.91015 1 7.5 1C11.0899 1 14 3.91015 14 7.5Z" stroke="#B3B3B3" stroke-linecap="round"/>
                </svg>              
                <p style="margin-top: -20px;margin-left: 24px;margin-bottom:0px;" *ngIf="vacancy.createdAt != ''">
                  Diunggah {{vacancy.createdAt | date : 'dd-MM-yyyy'}}
                </p>
                <p style="margin-top: -20px;margin-left: 24px;margin-bottom:0px;" *ngIf="vacancy.createdAt == ''">
                  N/A
                </p>
                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.5 8.5H4.5M8 8V3M14 7.5C14 11.0899 11.0899 14 7.5 14C3.91015 14 1 11.0899 1 7.5C1 3.91015 3.91015 1 7.5 1C11.0899 1 14 3.91015 14 7.5Z" stroke="#B3B3B3" stroke-linecap="round"/>
                </svg>              
                <p style="margin-top: -20px;margin-left: 24px;margin-bottom:0px;" *ngIf="vacancy.closedDate != ''">
                  Ditutup {{vacancy.closedDate | date : 'dd-MM-yyyy'}}
                </p>
                <p style="margin-top: -20px;margin-left: 24px;margin-bottom:0px;" *ngIf="vacancy.closedDate == ''">
                  N/A
                </p>
                <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16.6536 4.00698C14.8635 2.19172 12.144 1 8.99975 1C5.85547 1 3.13603 2.19172 1.34585 4.00698H0C1.96587 1.58714 5.26343 0 8.99975 0C12.7361 0 16.0336 1.58714 17.9995 4.00698H16.6536Z" fill="#B3B3B3"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.93364 9.21499C8.96364 9.21572 8.99373 9.21609 9.0239 9.21609C9.0304 9.21609 9.03691 9.21607 9.04341 9.21603C9.05778 9.21609 9.07216 9.21613 9.08655 9.21613C12.2463 9.21613 15.0052 7.76567 16.4812 5.60981C15.1425 3.65456 12.7487 2.27954 9.95748 2.04057C9.6595 1.96192 9.34659 1.92002 9.0239 1.92002C8.67703 1.92002 8.34147 1.96843 8.02361 2.05886C5.31484 2.34311 2.99976 3.69954 1.69186 5.60981C3.14405 7.73082 5.83789 9.16905 8.93364 9.21499ZM9.04255 8.21602C9.01309 8.21588 8.98368 8.21561 8.95431 8.21519C7.52401 8.17829 6.37586 7.00725 6.37586 5.56805C6.37586 4.38564 7.15085 3.38423 8.22058 3.04406C8.50418 3.0173 8.7931 3.0035 9.08655 3.0035C9.32056 3.0035 9.5517 3.01227 9.77955 3.0294C10.8739 3.35464 11.6719 4.36815 11.6719 5.56805C11.6719 7.0243 10.4964 8.20599 9.04255 8.21602ZM12.0262 3.49519C12.4334 4.08385 12.6719 4.7981 12.6719 5.56805C12.6719 6.38714 12.402 7.14317 11.9462 7.75205C13.2769 7.30011 14.4062 6.54537 15.219 5.60981C14.4225 4.69305 13.3222 3.94992 12.0262 3.49519ZM5.9808 3.55544C5.59851 4.13231 5.37586 4.82418 5.37586 5.56805C5.37586 6.36074 5.62869 7.09437 6.05809 7.69271C4.80063 7.23555 3.73234 6.50556 2.95411 5.60981C3.71634 4.73247 4.75684 4.01415 5.9808 3.55544Z" fill="#B3B3B3"/>
                </svg>
                <p style="margin-top: -20px;margin-left: 24px;margin-bottom:0px;" *ngIf="vacancy.processType != ''">
                  {{vacancy.processType}}
                </p> 
                <p style="margin-top: -20px;margin-left: 24px;margin-bottom:0px;" *ngIf="vacancy.processType == ''">
                  N/A
                </p> 
                <svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.33333 5.4V12M9.66667 5.4V12M5.875 5.4V3.75H9.125V5.4M1 4.3L7.5 1L14 4.3M2.08333 5.4H12.9167V12H2.08333V5.4Z" stroke="#B3B3B3"/>
                </svg>
                <p style="margin-top: -20px;margin-left: 24px;margin-bottom:0px;" *ngIf="vacancy.workType != ''">
                  {{vacancy.workType}}
                </p> 
                <p style="margin-top: -20px;margin-left: 24px;margin-bottom:0px;" *ngIf="vacancy.workType == ''">
                  N/A
                </p> 
              </div>
            </div>
          </div>

          <div class="col-md-12" style="margin-bottom: 20px;
          margin-top: 19px;">
            <svg width="320" height="34" viewBox="0 0 320 34" fill="none" xmlns="http://www.w3.org/2000/svg" style="max-width: 91%;
            margin-left: 20px;">
              <rect width="320" height="34" rx="17" fill="#E9F9FF"/>
            </svg>  
            <p style="margin-left: 34px;margin-top: -27px;font-weight: bold;">
              {{ (vacancy.salaryStart |  number : '1.0-0').replace(',', '.').replace(',', '.').replace(',', '.') }} - {{ (vacancy.salaryEnd |  number : '1.0-0' ).replace(',', '.').replace(',', '.').replace(',', '.') }} / months
            </p>
          </div>

          <div class="col-md-12" style="margin-bottom:15px;">
            <button class="btn btn-outline-primary" style="float: right;
            border-radius: 10em;padding-top: 0.38rem;padding-bottom: 0.38rem;
            padding: 0.5rem 1.6rem;color: #696969;border-color: #00BFFF;"
            (click)="save(vacancy.id, 'save')">Save</button>
            <button class="btn btn-outline-primary" style="float: right;margin-right: 10px;
            border-radius: 10em;padding-top: 0.38rem;padding-bottom: 0.38rem;
            padding: 0.5rem 1.6rem;color: #696969;border-color: #00BFFF;" 
            (click)="save(vacancy.id, 'apply')">Apply</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div style="display: flex !important;justify-content: center !important;">
      <ngb-pagination [collectionSize]="totalItems" [(page)]="curPage"  [maxSize]="5" 
      [rotate]="true" [pageSize]="itemsPerPage" [boundaryLinks]="true" [ellipses]="false" 
      (pageChange)="loadPage($event)">
      </ngb-pagination>
    </div>
  </div>
</div>