/* :host /deep/ .card-img-top {
    flex-shrink: 0;
    width: 30%;
    height: auto;
}

:host /deep/ .card .card-body, .card .card-body {
    padding: 10px 15px;
    line-height: 2;
}

:host /deep/ .card-title {
    margin-bottom: 0px;
} */

:host /deep/ .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #B3B3B3;
}

:host /deep/ .btn-outline-primary:hover {
    background-color: #00008B;
    color: white !important;
}

:host /deep/ .card:hover {
    border: 2px solid dodgerblue;
    cursor: pointer;
}